{% extends "chrome-empty-sidebar.html" %}

{% comment %}
The chrome of diff mode is a bit different than the rest of the application;
the "effective date" is now a comparison, the sidebar is empty, and both the
table of contents and the version tab are quite different
{% endcomment %}

{% block header-secondary %}
<span class="effective-date"><strong>Effective Date:</strong>
    {% with older_version=version %}
        {% for version in history %} {% if version.version == older_version %}{{ version.by_date|date }}{% endif %} {% endfor %}
        ..
        {% for version in history %} {% if version.version == newer_version %}{{ version.by_date|date }}{% endif %} {% endfor %}
    {% endwith %}
<h2> </h2>
{% endblock %}
