<div id="menu" class="panel">
    <div class="drawer-header">
    <h2>
        <span class="toc-type">Table of contents for</span>
        <span class="toc-part-num">{{ tree.meta.cfr_title_number }} CFR Part {{ tree.label.0 }}</span>
        <span class="toc-reg-title">{{ tree.title_clean|title }}
        {% if tree.reg_letter %}(Regulation {{ tree.reg_letter }}){% endif %}</span>
    </h2>
    </div> <!--/.drawer-header-->
 {%if tree.TOC %}
    {% with nav_class='regulation-nav' toc_items=tree.TOC top_toc=True %}
       {% include "toc.html" %} 
    {% endwith %}
 {%endif%}
    <div id="history" class="toc-container hidden">
        <ul>
        {% for version in history %}
            <li class="{{version.timeline}} status-list" data-base-version="{{version.version}}">
            {% if part == label_id %}
                <a href="{% url 'chrome_regulation_view' part version.version %}" class="version-link">
                    {% if version.timeline == 'current' %}
                        <h4>Current Law</h4>
                    {% endif %}
                    {{ version.by_date|date }}
                </a>
            {% else %}
                <a href="{% url 'chrome_section_view' label_id version.version %}" class="version-link">
                    {% if version.timeline == 'current' %}
                        <h4>Current Law</h4>
                    {% endif %}
                    {{ version.by_date|date }}
                </a>
            {% endif %}
                <ul class="rule-list">
                {% for notice in version.notices %}
                    <li><a class="fr-notice external" href="{{notice.fr_url}}" target="_blank">Final Rule &#8211; {{notice.publication_date|date}}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div> <!--/#history-->
    <div id="search" class="toc-container hidden">
        <p>Search Here</p>
    </div> <!--/#search-->
</div> <!-- /.panel -->
