{% with active_version=version %}
<div id="menu" class="panel" data-reg-id="{{ tree.label_id }}">
 {%if tree.TOC %}
    {% with nav_class='regulation-nav' toc_items=tree.TOC top_toc=True %}
       {% include "toc.html" %} 
    {% endwith %}
 {%endif%}
    <div id="history" class="history-drawer toc-container hidden">
        <div class="drawer-header">
            <h2 class="toc-type">Switch between versions</h2>
        </div><!-- /.drawer-header -->
        <div class="drawer-content">
            <form action="{% url 'redirect_by_get' label_id %}"
                  method="GET">

              {% with current_year=today|date:"Y" current_month=today|date:"m" current_day=today|date:"d" %}
                <select name="year">

                {% for year in ranges.year %}
                    <option {% if year == current_year %}
                        selected="selected" {% endif %}>{{ year }}</option>
                {% endfor %}
                </select>
                <select name="month">
                {% for month in ranges.month %}
                    <option {% if month == current_month %}
                        selected="selected" {% endif %}>{{ month }}</option>
                {% endfor %}
                </select>
                <select name="day">
                {% for day in ranges.day %}
                    <option {% if day == current_day %}
                        selected="selected" {% endif %}>{{ day }}</option>
                {% endfor %}
                </select>
                <button type="submit">Go</button>
              {% endwith %}
            </form>
            <ul>
            {% for version in history %}
                <li class="{{version.timeline}} status-list" data-base-version="{{version.version}}">
                {% if part == label_id %}
                    <a href="{% url 'chrome_regulation_view' part version.version %}" class="version-link">
                        {% if version.timeline == 'current' %}
                            <h4>Current Law</h4>
                        {% endif %}
                        <span class="version-date">{{ version.by_date|date }}</span>
                    </a>
                {% else %}
                    <a href="{% url 'chrome_section_view' label_id version.version %}" class="version-link">
                        {% if version.timeline == 'current' %}
                            <h4>Current Law</h4>
                        {% endif %}
                        <span class="version-date">{{ version.by_date|date }}</span>
                    </a>
                {% endif %}
                    <ul class="rule-list">
                    {% for notice in version.notices %}
                        <li><a class="fr-notice external" href="{{notice.fr_url}}" target="_blank">Final Rule &#8211; {{notice.publication_date|date}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div> <!--/#history-->
    <div id="search" class="search-drawer toc-container hidden">
        <div class="drawer-header">
            <h2 class="toc-type">Search</h2>
        </div><!-- /.drawer-header -->
        <div class="drawer-content">
            <form action="{% url 'chrome_search' tree.label_id %}" method="GET">
                <div class="search-box">
                    <input type="text" name="q" /><button type="submit"><i class="minicon-search"></i><strong class="icon-text">Search</strong></button>
                </div><!--/.search-box-->
                <div class="version-search">
                    <h4>Searching version</h4>
                    <div class="select-content">
                        <select name="version">
                        {% for version in history %}
                            <option value="{{version.version}}"{% if active_version == version.version %} selected="selected"{% endif %}>{{version.by_date|date}}</option>
                        {% endfor %}
                        </select>
                    </div> <!--/.select-content-->
                </div><!--/.version-search-->
            </form>
        </div><!-- /.drawer-content -->
    </div> <!--/#search-->
</div> <!-- /.panel -->
{% endwith %}
