<div id="content-body" class="main-content">
    <section id="content-wrapper">
        <section data-base-version="{{ current_version.version }}">
            {% block reg_main_content %}
            {% endblock %}

            <form action="{% url 'chrome_search' label_id %}" method="GET">
                <div class="search-box">
                    <input type="text" name="q" /><button type="submit"><i class="minicon-search"></i><strong class="icon-text">Search</strong></button>
                    <input type="hidden" name="version" value="{{current_version.version}}"/>
                </div>
            </form>

            <div id="disclaimer">
                {% block legal_disclaimer %}
                {% endblock %}
            </div>
        </section>
    </section>
</div>


<div id="sidebar" class="secondary-content">
    <div id="sidebar-content" class="sidebar-inner">
        {% if new_version %}
            <h3> New version to be effective: {{new_version.by_date|date:"m/d/Y"}} </h3>
            <ul>
                <li> <a href="{% url 'chrome_section_view' reg_first_section new_version.version %}">View new version</a></li>
                {%comment %} 
                <li> <a href="{% url 'chome_section_diff_view' reg_first_section current_version.version new_version.version %}">Compare new version</a></li>
                {% endcomment %}
            </ul>
        {% endif %}

        {% block reg_sidebar %}
        {% endblock %}
    </div>
</div>
