{% comment %}
    For interpretations that appear in their natural place in the reg text
{% endcomment %}
{% if c.node_type == "interp" %}
    <section id="{{c.markup_id}}" class="supplement-section">
        {% if c.header %}
            <h2 class="appendix-title" tabindex="0"> {{c.header}} </h2>
        {% endif %}

        {% for cc in c.children %}
            {% with interp=cc %}
                {% include "interp-tree.html" %}
            {% endwith %}
        {% endfor %}
    </section>
{% endif %}
