
<section class="error section-not-found" data-base-version="{{version}}">
    <h3>Section not found.</h3>

    <p>The section you are looking for does not exist in this version of the regulation.</p>

    <ul>
        <li><span class="minicon-history"></span>Try another version of the regulation </li>
        <li><span class="minicon-menu"></span>Try another section of the regulation </li>
        <li><span class="minicon-search"></span>Or, try searching the regulation </li>
    </ul>
</section> <!--.error-->
