{% comment %}
    Display the previous, next section links
{% endcomment %}

{% if navigation %}

{% if navigation.previous %}
    <a href="{% url 'chrome_section_view' navigation.previous.section version %}">&lt; Previous section - &sect;&nbsp;{{navigation.previous.title.0}} </a> {{navigation.previous.title.1}}
{% endif %}

{% if navigation.next %}
    {% if navigation.previous %}    
        |
    {% endif %}
    <a href="{% url 'chrome_section_view' navigation.next.section version %}">Next section - &sect;&nbsp;{{navigation.next.title.0}} &gt;</a> {{navigation.next.title.1}}
{% endif %}

{% endif %}
