{% comment %}
    Display the previous, next section links
{% endcomment %}

{% if navigation %}
<nav class="section-nav">
    <ul>
{% if navigation.previous %}
        <li class="previous next-prev">
            <a href="{% url 'chrome_section_view' navigation.previous.section version %}" class="navigation-link backward" data-linked-section="{{navigation.previous.section}}"><i class="minicon-left"> </i>Previous section - &sect;&nbsp;{{navigation.previous.title.0}} </a> <span class="next-prev-title">{{navigation.previous.title.1}}</span>
        </li>
{% endif %}

{% if navigation.next %}
        <li class="next next-prev">
            <a href="{% url 'chrome_section_view' navigation.next.section version %}" class="navigation-link forward" data-linked-section="{{navigation.next.section}}">Next section - &sect;&nbsp;{{navigation.next.title.0}} <i class="minicon-right"></i></a> <span class="next-prev-title">{{navigation.next.title.1}}</span>
        </li>
{% endif %}
    </ul>
</nav>
{% endif %}
