{% comment %}
    Top-level reg section wrapper, first level of list
{% endcomment %}
{%if c.node_type == 'regulation' %}
<section id="{{c.markup_id}}" class="reg-section" tabindex="0">
    {% if c.header_marker %}
    <h2 class="section-number" data-permalink-section><span class="section-marker">{{c.header_marker|safe}}</span>{{ c.header_num }}<span class="section-title" tabindex="0"
        >{{ c.header_title }}</span></h2>
    {% else %}
    <h2 class="section-title" tabindex="0" data-permalink-section> {{c.header}} </h2>
    {% endif %}
        {% if c.marked_up %}
        <p> 
            {% for doc_num, ref in c.analyses %}
            <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
            {% endfor %}
        {{c.marked_up|safe}} 
        </p>
        {% else %}
            {% for doc_num, ref in c.analyses %}
            <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
            {% endfor %}
        {% endif %}

        <ol class="level-1" type="a">
        {% if c.children %}
            {% for node in c.children %}
                {% include "tree-with-wrapper.html"  %}
            {% endfor %}
        {% endif %}
        </ol>

        {{ c.interp.markup | safe }}
{% endif %}
