<div id="sidebar" class="secondary-content">
    <div id="sidebar-header" class="sidebar-header">
        <h2></h2>
    </div>
    <div id="sidebar-content" class="sidebar-inner">
        <section id="sxs-list" class="regs-meta">
            <h5 class="expandable">Section-by-section Analysis</h5>
            <div class="chunk">
            {% if analyses %}
                <ul>
                    {% for analysis in analyses %}
                        <li><a href="{% url 'paragraph_sxs_view' analysis.label_id analysis.doc_number %}">{{analysis.text}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </section> <!-- /.regs-meta -->
    </div> <!-- /#sidebar-content -->
</div> <!-- /.secondary-content -->
