{% comment %}
    Display a table of contents. 
{% endcomment %}

<nav {% if top_toc %}id="menu" class="panel"{% endif %} role="navigation">
    {% if top_toc %}
        <h2>
            <span class="toc-title-num">Title {{ tree.meta.cfr_title_number }}: {{ tree.meta.cfr_title_text }}</span>
            <span class="toc-part-num">Part {{ tree.label.0 }}</span>
            <span class="toc-reg-title">{{ tree.title_clean|title }}
            {% if tree.reg_letter %}(Regulation {{ tree.reg_letter }}){% endif %}</span>
        </h2>
    {% endif %}
    <ol class="{{nav_class}}"{% if top_toc %} id="table-of-contents"{% endif %}>
        {% for item in toc_items %}
            {% if item.is_section %}
                <li><a href="{{item.url}}"><span class="toc-section-marker">§&nbsp;{{item.section}}</span> {{item.sub_label|safe}}</a></li>
            {% elif item.is_appendix %}
                <li><a href="{{item.url}}"><span class="toc-section-marker">{{item.label|safe}}</span> {{item.sub_label|safe}}</a></li>
            {% elif item.is_supplement %}
                <li><a href="{{item.url}}"><span class="toc-section-marker">{{item.label|safe}}</span> {{item.sub_label|safe}}</a></li>
            {% else %}
                <li><a href="{{item.url}}">{{item.label|safe}}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
