{% comment %}
    Template for inner paragraphs of a reg section
{% endcomment %}
{%if node.marked_up %}
<p> 
    {% for doc_num, ref in node.analyses %}
    <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
    {% endfor %}
{% if node.node_type == "appendix" %}
    {{node.marked_up|safe|linebreaksbr}}
{% else  %}
    {{node.marked_up|safe}}
{% endif %}
</p>
{% if node.interp %}
    {% with interp=node.interp %}
        {% include "slide-down-interp.html" %}
    {% endwith %}
{% endif %}
{% else %}
    {% for doc_num, ref in node.analyses %}
    <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
    {% endfor %}
{% endif %}
{% if node.children %}
<ol class="level-{{node.children.0.list_level}}" 
    type="{{node.children.0.list_type}}">
    {% for c in node.children %}
        {%with node=c template_name="tree-with-wrapper.html" %}
            {% include template_name %}
        {% endwith %}
    {% endfor %}
</ol>
{% endif %}
