/*
 Layout
 ========================================================================== 
 layout.less defines the structural layout of the site
 */

.wrap {
    width: 100%;
}

.main-content {
    float: left;
    margin-top: 100px;
    margin-left: 14em;
    padding: 0 40px;
    max-width: 58.333336%;
    border-right: 1px solid @light_field;
    overflow-x: none;
}

.secondary-content {
    float: left;
    max-width: 25%;
    background: #fff;
    z-index: 100;
}

.open-definition,
.regs-meta {
    position: fixed;
    max-width: 25%;
    padding: 0 40px 0 20px;
    top: 100px;
    bottom: 0;
    height: 100%;
    font-size: .875em;
    background: #fff;
    z-index: 100;
}

.panel {
    border-right: 2px solid #d0d0ce;
    border-top: 3px solid #d0d0ce;
    .avenir-next-demi;
    font-size: .875em;
    position: fixed;
    top: 60px;
    bottom: 0px;
    width: 260px;
    background-color: #f6f6f5;
    z-index: 999999;
    overflow-y: scroll;
}

/*
IE fixes
--------
*/

.lt-ie9 .open-definition,
.lt-ie9 .regs-meta {
    right: 0px;
}

.lt-ie9 .main-content {
    margin-right: 25%;
}


/*.main,
.main-content,
.secondary,
.secondary-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    position: relative;
    max-width: 60em; 
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .wrap {
        margin: 0 0 0 60px;
    }
}

.main,
.main-content {
    width: 63.542%;
    float: left;
    padding-right: 2em;
}

.main-content,
.secondary-content {
    margin-top: 100px;
    padding-top: 1.25em;
}

.secondary,
.secondary-content {
    width: 30.5%;
    padding-left: 2.5%;
    float: left;
}

.reg-text > section {
    border-bottom: 2px solid @medium_gray;
}

.reg-section li > p,
.appendix-section li > p,
.supplement-section li > p {
    padding-left: 90px;
    margin-left: -90px;
}*/

/*
Section Offsets
===============
*
* Linakble content must be offset to accomodate the fixed header. 
* If the height and negative margin here are adjusted, the JS must be updated to reflect that. 
* content-view.js, checkActiveSection()
*
*/

.reg-section:before,
.appendix-section:before,
.supplement-section:before,
.supplement-section section:before  {
    display: block; 
    content: ""; 
    height: 60px; 
    margin: -60px 0 0; 
    visibility: hidden;
}

.reg-section .level-1 li,
.appendix-section .level-1 li,
.supplement-section .level-1 li {
    border-top: 100px solid transparent;
    margin-top: -100px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}

/*  
Permalink Offset
----------------
*/
.section-number {
    position: relative;
    margin-left: -30px;
    padding-left: 30px;
}

/*  
Reset for inline interpretations
--------------------------------
*/
.inline-interpretation-content .level-1 li {
    border-top: 0px;
    margin-top: 0px;
}
