/*
 Media Queries
 ========================================================================== 
 media-queries.less contains layout and typographic media queries
 media-queries that are specific to modules/functionality will be located within the appropriate .less file
 */

/*
 Layout
 ------
*/

@media only screen and ( min-width: 1100px ) {
    .active {
        .main-content,
        .header-main {
            margin-left: 40px;
            max-width: 73.6%;
        }

        .level-1 > li:after {
            margin-left: -14em;
        }
    }
}

@media only screen and ( max-width: 1100px ) {

    .panel {
        left: -200px;

        /* position content fully offscreen*/
        ol, 
        h2 {
            position: absolute;
            left: -320px;    
        }
    }

    .panel.active {
        ol,
        h2 {
            position: static;
            left: 0;
        }
    }

    .toc-head {
        .slide;
        left: -200px;
    }

    .active {
        .toc-head {
            left: 0;
        }
    }

    .panel-slide {
        background: url(../img/right.png) no-repeat center center;
        
    }

    .active .panel-slide {
        background: url(../img/left.png) no-repeat center center;
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
        .panel-slide {
            background: url(../img/right@2x.png) no-repeat center center;
            background-size: 16px 13px;
        }

        .active .panel-slide {
            background: url(../img/left@2x.png) no-repeat center center;
            background-size: 16px 13px;
        }
    }

    .main-content {
        margin-left: 40px;
    }

    .header-main {
        margin-left: 0px;
    }

    .level-1 > li:after {
        margin-left: -10em;
    }

    /*
    IE fixes
    --------
    */

    .lt-ie9 .main-content {
        width: 71%;
    }

    .lt-ie9 .seoondary-content,
    .lt-ie9 .sidebar-inner {
        width: 25%;
    }

}

@media only screen and ( max-width: 780px ) {
    
    .secondary-content {
        position: static;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        border-left: none;
        padding-left: 100px;
    }

    .close-button {
        float: none;
        position: fixed;
        top: 70%;
        right: 0px;
    }

    .open-definition {
        position: fixed;
        top: 70%;
        bottom: 0;
        left: 0;
        min-width: 100%;
        min-height: 200px;
        padding: 20px 20px 80px 60px;
        background: #f6f6f5;
        .border-top-light(@width: 2px);
        z-index: 200;
        overflow-y: scroll;
    }

    .main-content {
        width: 100%;
        margin: 0 auto;
        padding-top: 94px;
        padding-left: 100px;
    }

    .level-1 > li:after {
        margin-left: -5em;
    }
}

@media only screen and ( max-width: 600px ) {

    .header-main {
        font-size: 0.875em;
        width: 33%;
    }



}

@media only screen and ( max-width: 480px ) {
        .main-head {
            height: auto;
            padding: 1em 0 0 0;
            
        .logo {
            float: none;
            margin: 0 0 0 20px
        }

        .site-title {
        display: block;
        float: none;
        }
    }

    .panel {
        top: 142px; /* offset taller header height */
    }
}