/*
Table of Contents Drawer
========================
This contains all of the styles specific to the TOC
*/
.regulation-nav {

    ol {
        margin: 0;
        padding: 40px 0 0 0;
    }

    li {
        margin: 0;
        text-indent: 0;
    }

    .toc-section-marker {
      .avenir-next-demi;
      display: block;
      font-size: 18px;
    }

    /* Interpretation Subparts in the TOC are styled differently */
    .toc-interp-heading {
        .avenir-next;
        text-transform: uppercase;
        font-size: 12px;
    }

    .toc-interp-title {
        .avenir-next-demi;
        font-size: 14px;
    }

    a {
        display: block;
        padding: 10px 15px;
        line-height: 1.3;
    }

    a:link,
    a:visited {
        color: @black;
        .border-bottom-light (@width: 1px);
        text-decoration: none;
    }

    a:hover,
    a:active,
    .current {
        color: @black;
        background-color: @green-20;
    }

    /*
    TOC in Diff View
    -----------------
    */

    .modified a,
    .modified a:link,
    .modified a:visited,
    .added a,
    .added a:link,
    .added a:visited {
        border-right: 8px solid @green-60;
    }

    .deleted a,
    .deleted a:link,
    .deleted a:visited {
        border-right: 8px solid @red;
        text-decoration: line-through;
        color: @gray-80;
    }
}

/* Highlight the History tab in diff view */
.active-tab a:link,
.active-tab a:visited,
.active-tab a:hover,
.active-tab a:active {
    color: #d14124;
}

.subpart-heading {
    margin: 0;
    padding: 10px 15px;
    display: block;
    color: @dark-gray;
    background-color: #F8F8F8;
    font-size: 1em;
    .border-bottom-light (@width: 1px);
    .border-top-light (@width: 1px);
    text-transform: uppercase;
}

.subpart-subhead {
    .avenir-next-demi;
    text-transform: none;
}

/*
History Drawer
==============
This contains all of the styles specific to the history
*/

.history-drawer {

    .avenir-next-demi;

    ul,
    li {
        .reset;
    }

    .drawer-content {
        padding-top: 40px;
    }

    .effective-label {
        padding: 0 15px;
        .avenir-next;
        color: @gray;
    }

    /*TODO: unify link styles with TOC*/

    .version-list {
        border-top: 1px solid @gray-20;
    }

    .status-list {
        border-bottom: 1px solid @gray-20;
    }

    .version-link {
        display: block;
        margin: 0;
        padding: 10px 15px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    /* IE8 only respects the background color on the individual elements */
    .current {
        .version-link {
            padding: 10px 15px 0px 15px;
            background: @green-20;
        }

        .timeline-content-wrap {
            background: @green-20;
        }

        .rule-list {
            display: block;
            background: @green-20;
        }
    }

    .version-link,
    .version-link:link,
    .version-link:visited {
        color: @black;
        text-decoration: none;
        position: relative;
    }

    .version-link:hover,
    .version-link:active,
    .version-link:target,
    .current {
        color: @black;
        background: @green-20;
        display: block;
    }

    h3 {
        margin: 0;
        font-size: 1em;
        .avenir-next-demi;
    }

    h4 {
        .reset;
        font-size: 0.875em;
        text-transform: uppercase;
        color: @gray-80;
    }

    h5 {
        .reset;
        font-size: 0.875em;
        text-transform: uppercase;
        color: @gray-80;
    }

    .final-rule {
        margin: 10px 15px 0 15px;
    }

    .compare-title {
        margin: 10px 15px 0 15px;
        padding-top: 15px;
        border-top: 1px dashed @gray-20;
    }

    .rule-status {
        color: @gray-80;
        text-transform: lowercase;
        .avenir-next;
        display: block;
        float: right;
    }

    .rule-list {
        margin: 0 15px;
        .avenir-next;
    }

    .rule-list li {
        padding: 0 0 .5em 0;
    }

    .rule-list li:last-child {
        padding-bottom: .2em;
    }

    .version-date {
        .avenir-next-demi;
        font-size: 1.285714286em;
    }

    .select-content {
        margin: 6px 15px 15px 15px;
        background: white url('../img/select-blue.png') no-repeat bottom right;
    }


    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .select-content {
            background: white url('../img/select-blue@2x.png') no-repeat bottom right;
            background-size: 32px 32px;
        }
    }

}

.js {
   .timeline-content-wrap {
        display: none;
   }

   .current .timeline-content-wrap {
        display: block;
   }

   /*
   date input
   ----------
   */
   .form-wrap {
        margin: 15px;
        background-color: #fff;
        line-height: 32px;
        border-top: 1px solid @gray-20;
        border-bottom: 1px solid @gray-20;
        border-left: 1px solid @gray-20;
   }

   input[type=text]{
        border: none;
        text-align: center;
        line-height: 32px;
    }
    input[name=month],
    input[name=day] {
        width: 15%;
    }

    input[name=year] {
        width: 25%;
    }

    .find-button {
        float: right;
        padding: 0 10px;
        margin-top: -1px;
        margin-bottom: -1px;
        height: 34px;
    }
}

/*IE8 refuses to apply the link hovers*/
.lt-ie9 {
    #history {
        li:hover,
        li.current {
            background-color: @green-20;
        }
    }
}

/* when ie7 users do visit, the drawer header won't stick out */
.lt-ie8 {
    .drawer-header .toc-type {
        width: 210px;
    }
}

.stop-button {
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 15px;
    background-color: @red;
    padding: 10px;
    text-align: center;
}

.stop-button:link,
.stop-button:visited {
    color: #fff;
}

.stop-button:hover,
.stop-button:active,
.stop-button:focus {
    background-color: @red-40;
    color: @black;
}

/*
Search Drawer
=============
This contains all of the styles specific to the search
*/

.search-drawer {
    .reset;

    .drawer-content {
        padding-top: 40px;
    }

    h4 {
        color: @gray-80;
        .avenir-next;
        text-transform: none;
        margin-bottom: 0.5em;
    }

    .version-search {
        border-bottom: 2px solid @gray-40;
        padding: 0 15px 20px 15px;
    }

    .search-box {
        border-bottom: 1px solid @gray-40;
        padding: 20px 15px;
    }

    input[type=text]{
        width: 80%;
    }

    button {
        width: 20%;
    }
}

.search-box {

    input {
        height: 32px;
        line-height: 32px;
        margin: 0;
    }

    input[type=text]{
        padding: 0 10px;
        text-align: left;
        border-top: 1px solid @gray-20;
        border-right: none;
        border-bottom: 1px solid @gray-20;
        border-left: 1px solid @gray-20;
    }
}
