/*
Forms.less
========================================================================== 
formsless contains generic form styles
*/

input {
    height: 32px;
    margin: 0;
}

input[type=text]{
    vertical-align: bottom;
    .avenir-next;
    color: @black;
}

button {
    height: 32px;
    vertical-align: bottom;
    margin: 0;
    background-color: @pacific;
    color: #fff;
    border: none;
    vertical-align: bottom;
    text-align: center;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
}

button:hover,
button:active {
    background-color: @pacific-60;
}

textarea:focus, 
input:focus {
    border: 1px solid @pacific;
}

/*
Selects
--------------------------------
*/

.select-content { 
    overflow: hidden; /* this hides the select's drop button */
    position: relative;
    background: white url('../img/select.png') no-repeat bottom right; 
    //width: 100%;
    border: solid 1px @gray-20;
    height: 32px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .select-content {
        background: white url('../img/select@2x.png') no-repeat bottom right;
        background-size: 32px 32px;
    }
}

select { 
    width: 115%;
    background-color: transparent; 
    background-image: none; 
    -webkit-appearance: none;
    border: none; 
    box-shadow: none;
    padding: 0 10px; /* add padding to the select, not the div */
    color: @gray-80;
    height: 32px;
}

.lt-ie9 {
    select {
        height: 24px;
    }
}