/*
Navigation
=========================
navigation.less contains styles for site and intra reg navigation 
*/


/*
Appendix Navigation
=========================

```
<ol class="appendix-nav">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
</ol>
```

*/

.appendix-nav {
    margin-top: 2.5em; /*40px*/
    padding-left: 30px;
    list-style: none;
}

.appendix-nav li {
    .avenir-next-demi;
    margin: 0;
    font-size: 0.875em; /*14px*/
    line-height: 1.85714; /*26px*/
    text-indent: -30px;
}

.appendix-nav a:link,
.appendix-nav a:visited {
    color: #101820;
    text-decoration: none;
    border-bottom: 1px solid #348dc9;
}


/*
Regulation Table of Contents
============================

The regulation TOC is a slide out panel drawer
It displays when the 'active' class is applied

```
<nav id="menu" class="panel active" role="navigation">
    <ol class="regulation-nav" id="table-of-contents">
        <li><a href="#"><span class="toc-section-marker">§&nbsp;xxx.1</span> Section Title</a></li>
        <li><a href="#"><span class="toc-section-marker">§&nbsp;xxx.2</span> Section Title</a></li>
        <li><a href="#"><span class="toc-section-marker">§&nbsp;xxx.3</span> Section Title</a></li>
    </ol>
</nav>
```

*/

/*.panel,
.panel .close-button {
    .slide;
    .border-right-light(@width: 2px);
    left: -272px; 250px + 20px padding + 2px border
}*/

.panel {
/*    .reset;
    .border-top-light(@width: 3px);
    .avenir-next-demi;
    font-size: 0.875em;
    position: fixed;
    top: 60px;
    bottom: 46px;
    width: 260px;
    background-color: #f6f6f5;
    z-index: 999999;
    overflow-y: scroll;
*/
    ol {
        .reset;
        .border-top-light (@width: 1px);
    }

    h2 {
        padding: 0 20px;
        line-height: 1.3;
        .avenir-next-demi;
        text-transform: uppercase;

        .toc-title-num {
          color: @light_field;
          display: block;
          font-size: 12px;
        }

        .toc-part-num {
          display: block;
          font-size: 26px;
          margin: 10px 0;
        }

        .toc-reg-title {
          .avenir-next;
          display: block;
          font-size: 16px;
          margin-top: 6px;
        }
    }

/*
TOC Close Button
----------------
<nav class="panel">
    <div id="toc-close" class="close-button toc-toggle"><em>Close</em></div>
</nav>
*/

    .close-button {
        width: 240px;
        height: 26px;
        padding: 10px; /*10px*/
        bottom: 0px;
        background: @light_field url(../img/close.png) 89% 11px no-repeat;
        color: @dark_gray;
        text-transform: uppercase;
        font-size: .857142857em; /*12px*/
        cursor: pointer;

            em {
                display: inline-block;
                width: 80%;
                text-align: right;
                font-style: normal;
            }
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
        .close-button {
            background: @light_field url(../img/close@2x.png) 89% 11px no-repeat;
            background-size: 15px 15px;
        }
    }
}

/* 
When applied, the active class causes the panel navigation to slide to the right
 */
.panel.active{
    left: 0;

    .close-button {
        position: fixed;
        left: 0px;
    }
}


/* 
TOC Link (aka 'The Hamburger Button')
=====================================

```
<a href="#menu" id="menu-link" class="toc-nav-link toc-toggle active">Table of Contents</a>
```

*/

.toc-nav-link {
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 0;
    height: 60px; /* match height of main header */
    width: 60px;
    background: url(../img/nav-link.png) no-repeat center center;

    &.hamburgerify {
        background: url(../img/hamburger.png) no-repeat center center;
    }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .toc-nav-link {
        background: url(../img/nav-link@2x.png) no-repeat center center;
        background-size: 16px 16px;
    }
}

.toc-nav-link:hover,
.toc-nav-link:active,
.toc-nav-link.active {
    background-color: @light_field;
}

/* TOC link styles */
.regulation-nav {

    li {
        margin: 0;
        text-indent: 0;
    }

    .toc-section-marker {
      .avenir-next-bold;
      display: block;
      font-size: 18px;
    }

    a {
        display: block;
        padding: 10px 20px;
        line-height: 1.3;
    }

    a:link,
    a:visited {
        color: @black;
        .border-bottom-light (@width: 1px);
        text-decoration: none;
    }

    a:hover,
    a:active,
    .current {
        color: @black;
        background-color: @green_light;
    }

}

