.no-js {
    
    .inline-interpretation,
    .regs-meta {
        
        .hidden {
            display: block;
        }

        .expand-button {
            display: none;
        }

        .expandable:after {
            background: none;
        }
    }
}