@media only screen and ( max-width: 480px ) {
    
    /*
    Layout
    ====================
    */

    .reg-section:before,
    .appendix-section:before,
    .supplement-section:before,
    .supplement-section section:before,
    .footnotes li:before {
        display: block; 
        content: ""; 
        height: 120px; 
        margin: -120px 0 0; 
        visibility: hidden;
    }

    .reg-section .level-1 li,
    .appendix-section .level-1 li,
    .supplement-section .level-1 li {
        border-top: 120px solid transparent;
        margin-top: -120px;
        -webkit-background-clip:padding-box;
        -moz-background-clip:padding;
        background-clip:padding-box;
    }

    /*
    Typography
    ====================
    */

    .reg-text {
        margin-top: 20px;
    }

    .main-content,
    .secondary-content {
        font-size: 0.875em;
    }

    .section-number,
    .appendix-heading,
    .supplement-section h3 {
        font-size: 1.571428571em;
    }

    ol {
        padding: 0;
    }

    /*
    Header
    ====================
    */

    .title {
        .site-title {
            display: none;
        }

        .reg-title {
            padding-left: 10px;
            font-size: 1em;
        }
    }

    /*
    Subhead Styles
    ----------------------
    */

    .header-main {
        display: block;
        width: auto;
        float: none;
        padding: 0 0 0 14px;
        height: 24px;
        line-height: 24px;
    }

    .header-secondary {
        padding: 0;
        width: 100%;
        float: none;
        height: 24px;
        line-height: 24px;
    }


    .sub-head {
        height: 54px;
        line-height: 34px;
    }

    /* match wayfinding padding to > icon */
    .header-label {
        padding-top: 4px;
    }

    .effective-date {
        display: block;
        margin-left: 60px;
        float: none;

        strong {
            .avenir-next;
        }
    }



    .inline-interpretation {
         h4 {
            padding: 0;
            background: none;
        }

        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
            h4 {
                background: none;
            }
        }
    }

    /*
    Sidebar
    =============================
    */

    .sidebar-inner {
        padding-bottom: 30px;
    }
    

    /*
    Footer
    =============================
    */
    .section-nav {

        .next-prev {
            font-size: 1.125em;
        }
    }

    .application-footer {
        .title-logo {
            display: block;
            margin-bottom: 1em;

            h1 {
                //display: inline-block;
                font-size: 1em;
                margin-bottom: 1em;
            }
        }
    }

     /*
    Landing Page
    ====================
    */

    .banner-text {
        margin-top: 50px;
        font-size: 1.625em;
    }

    .disclaimer, .about-the-tool, .feedback {
        p, li {
            font-size: 1em;
        }
    }

     /*
    SxS Analysis
    =============================
    */

    #breakaway-view.open-sxs,
    .full-breakaway {
        position: fixed;
        top: 0;
    }

    .sxs-header {
        border-top: 2px solid @dark_gray;
    }

    .sxs-label {
        display: none;
    }

    sxs-back-button,
    .sxs-back-button:link,
    .sxs-back-button:visited {
        height: 32px;
        line-height: 31px;
    }
}


