{% if c.node_type == "appendix" %}
    <section id="{{c.markup_id}}" class="appendix-section">
        <h2 class="appendix-title" tabindex="0"> {{c.header}} </h2>
         {%if c.TOC %}
            {% with nav_class='appendix-nav' toc_items=c.TOC %}
               {% include "toc.html" %} 
            {% endwith %}
         {%endif%}

    {% if c.children %}
        {% for level_one in c.children %}
            <h3 class="appendix-heading" tabindex="0"> {{level_one.header}} </h3>

            {% if level_one.marked_up %}
            <p> 
                {% for doc_num, ref in level_one.analyses %}
                <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
                {% endfor %}
                {{level_one.marked_up|safe}} 
            </p>
            {% else %}
                {% for doc_num, ref in level_one.analyses %}
                <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
                {% endfor %}
            {% endif %}

            {% if level_one.children %}
                <ol class="level-{{level_one.children.0.list_level}}" type="{{level_one.children.0.list_type}}">
                {% for node in level_one.children  %}
                    {% include "tree-with-wrapper.html" %}
                {% endfor %}
                </ol>
            {% endif %}

            {% if level_one.interp_markup %}
                <section class="inline-interpretation reset-indent" data-interp-for="{{level_one.markup_id}}">
                    <h4 tabindex="0">Supplement I - Official Interpretations</h4>
                    <a class="expand-button">Show</a>
                    {{ level_one.interp_markup|safe }}
                </section>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

