{% if c.node_type == "interpretation" %}
    <section id="{{c.markup_id}}">
        <h2 class="appendix-title"> {{c.markup_title}} </h2>

    {% if c.children %}
        {% for level_one in c.children %}
            <section id="{{level_one.markup_id}}">
                <h3> {{level_one.markup_title}} </h3>

                {% if level_one.marked_up %}
                <p> 
                    {% if level_one.interpretations %}
                    <a href="#{{ level_one.interpretations }}" class="interpretation-ref">[I]</a>
                    {% endif %}
                    {% for doc_num, ref in level_one.analyses %}
                    <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
                    {% endfor %}
                    {{level_one.marked_up|safe}}
                </p>
                {% else %}
                    {% if level_one.interpretations %}
                    <a href="#{{ level_one.interpretations }}" class="interpretation-ref">[I]</a>
                    {% endif %}
                    {% for doc_num, ref in level_one.analyses %}
                    <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
                    {% endfor %}
                {% endif %}

                {% if level_one.children %}
                    {% for level_two in level_one.children %}
                        <section id="{{level_two.markup_id}}">
                            <h4 class="appendix-subheading"> {{level_two.markup_title}} </h4>

                            {%if level_two.marked_up %}
                                <p> 
                                    {% if level_two.interpretations %}
                                    <a href="#{{ level_two.interpretations }}" class="interpretation-ref">[I]</a>
                                    {% endif %}
                                    {% for doc_num, ref in level_two.analyses %}
                                    <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
                                    {% endfor %}
                                    {{level_two.marked_up|safe}}
                                </p>
                            {% else %}
                                {% if level_two.interpretations %}
                                <a href="#{{ level_two.interpretations }}" class="interpretation-ref">[I]</a>
                                {% endif %}
                                {% for doc_num, ref in level_two.analyses %}
                                <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
                                {% endfor %}
                                {{level_two.marked_up|safe}}
                            {% endif %}

                            {% if level_two.children %}
                                <ol class="level-1" type="a">
                                    {% for node in level_two.children %}
                                        {% include "tree.html" %}
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        </section>
                    {% endfor %}
                {% endif %}
            </section>
        {% endfor %}
    {% endif %}
{% endif %}
