{%if c.node_type == 'regulation' %}
<section id="{{c.markup_id}}" class="reg-section">
    {% if c.header_marker %}
    <h2 class="section-number"><span class="section-marker">{{ c.header_marker }}</span>{{ c.header_num }}</h2><h3 class="section-title" tabindex="0"
        >{{ c.header_title }}</h3>
    {% else %}
    <h2 class="section-title" tabindex="0"> {{c.header}} </h2>
    {% endif %}
        {% if c.marked_up %}
        <p> 
            {% for doc_num, ref in c.analyses %}
            <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
            {% endfor %}
        {{c.marked_up|safe}} 
        </p>
        {% else %}
            {% for doc_num, ref in c.analyses %}
            <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
            {% endfor %}
        {% endif %}

        <ol class="level-1" type="a">
        {% if c.children %}
            {% for node in c.children %}
                {% include "tree-with-wrapper.html"  %}
            {% endfor %}
        {% endif %}
        </ol>

        {% if c.interp_markup %}
            <section class="inline-interpretation reset-indent" data-interp-for="{{c.markup_id}}">
                <h4 tabindex="0">Supplement I - Official Interpretations</h4>
                <a class="expand-button">Show</a>
                {{ c.interp_markup|safe }}
            </section>
        {% endif %}
{% endif %}
