{%if c.node_type == 'regulation' %}
<section id="{{c.markup_id}}">
    <h2 class="section-title"> {{c.markup_title}} </h2>
        {% if c.marked_up %}
        <p> 
            {% for doc_num, ref in c.analyses %}
            <a href="/notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
            {% endfor %}
        {{c.marked_up|safe}} 
        </p>
        {% else %}
            {% for doc_num, ref in c.analyses %}
            <a href="/notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
            {% endfor %}
        {% endif %}

        {% if c.interpretations %}
           <!-- stick what shows under 1005 I here -->
        {% endif %}

        <ol class="level-1" type="a">
        {% if c.children %}
            {% for node in c.children %}
                {% include "tree.html"  %}
            {% endfor %}
        {% endif %}
        </ol>
{% endif %}
