<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="front_end/css/style.min.css"/>
    {% if env == 'dev' %}
        <script src="front_end/js/source/require.config.js"></script>
        <script data-main="regulations" src="front_end/js/source/lib/require.js"></script>
    {% else %}
        <script src="front_end/js/built/require.config.js"></script>
        <script data-main="regulations" src="front_end/js/built/lib/require.js"></script>

    {% endif %}
        <!--[if lt IE 9]>
            <script src="front_end/js/source/lib/html5shiv.js"></script>
        <![endif]--> 
    </head>
    <body>

      <header id="site-header" class="wrap group">
        <h1 class="site-title left">eRegulations</h1>
      </header>

        <div class="reg-header" id="sub-head">
            <nav id="doc-header" class="group">
                <ul class="wrap">
                    <li><a href="#menu" id="menu-link" class="toc-nav-link slide">Table of Contents</a></li>
                </ul>
            </nav>
            <ul id="content-header" class="wrap group">
                <li id="content-subhead" class="main-content"></li>
                <li id="sidebar-subhead" class="secondary-content">
                    {% if titles.part and titles.reg_name %}
                        <h2>PART {{ titles.part }} {{ titles.reg_name }}</h2>
                    {% endif %}
                </li>
            </ul>
        </div>
         {%if tree.TOC %}
            {% with nav_class='regulation-nav' toc_items=tree.TOC top_toc=True %}
               {% include "toc.html" %} 
            {% endwith %}
         {%endif%}  

        <div class="wrap group" id="reg-content">

        <div class="main-content">

        <h1 class="reg-title" tabindex="0">{{tree.header}}</h1>

        <section id="{{tree.markup_id}}">
            {% if tree.children %}
                {% for c in tree.children %}
                    {%include "regulation_text.html" %}
                    {%include "appendix.html" %}
                    {%include "interpretations.html" %}
                    </section>
                {% endfor %}
            {% endif %}
        </section>
        </div>

        <div id="sidebar" class="secondary-content">

        </div>

        </div>
    {% if GOOGLE_ANALYTICS_SITE and GOOGLE_ANALYTICS_ID %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 
              '{{ GOOGLE_ANALYTICS_ID }}', '{{ GOOGLE_ANALYTICS_SITE }}');
          ga('send', 'pageview');
        </script>
    {% endif %}
    </body>
</html>    
