<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="front_end/css/style.min.css"/>
        <script src="front_end/js/require.config.js"></script>
        <script data-main="regulations" src="front_end/js/lib/require-jquery.js"></script>

        <!--[if lt IE 9]>
            <script src="front_end/js/lib/html5shiv.js"></script>
            <script src="front_end/js/lib/polyfill.js"></script>
        <![endif]--> 
    </head>
    <body>

      <header id="site-header" class="wrap group">
        <h1 class="site-title left">eRegulations</h1>
      </header>

        <div class="reg-header" id="sub-head">
          <nav class="wrap group">
          <ul>
              <li><a href="#menu" id="menu-link" class="toc-nav-link slide">Table of Contents</a></li>
          </ul>
          </nav> 
        </div>
         {%if tree.TOC %}
            {% with nav_class='regulation-nav' toc_items=tree.TOC %}
               {% include "toc.html" %} 
            {% endwith %}
         {%endif%}  

        <div class="wrap group" id="reg-content">

        <div class="main-content">
        <section id="{{tree.markup_id}}">
         <h1 class="reg-title"> {{tree.markup_title}} </h1>

            {% if tree.children %}
                {% for c in tree.children %}
                    {%include "regulation_text.html" %}
                    {%include "appendix.html" %}
                    {%include "interpretations.html" %}
                    </section>
                {% endfor %}
            {% endif %}
        </section>
        </div>

        <div class="secondary-content">

        </div>

        </div>
    {% if GOOGLE_ANALYTICS_SITE and GOOGLE_ANALYTICS_ID %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 
              '{{ GOOGLE_ANALYTICS_ID }}', '{{ GOOGLE_ANALYTICS_SITE }}');
          ga('send', 'pageview');
        </script>
    {% endif %}
    </body>
</html>    
