<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="static/css/main.css"/>
    </head>
    <body>
        <div class="wrap" id="reg-content">
        <section id="{{tree.markup_id}}">
            <h1> {{tree.markup_title}} </h1>
            {% if tree.children %}
                {% for c in tree.children %}
                    <section id="{{c.markup_id}}">
                        <h2 class="section-title"> {{c.markup_title}} </h2>
                    {%include "regulation_text.html" %}
                    {%include "appendix.html" %}
                    {%include "interpretations.html" %}
                    </section>
                {% endfor %}
            {% endif %}
        </section>
        </div>
    </body>
</html>    
