<li id="{{node.markup_id}}">
    {%if node.marked_up %}
    <p> 
        {% if node.interpretations %}
        <a href="#{{ node.interpretations }}" class="interpretation-ref">[I]</a>
        {% endif %}
        {% for doc_num, ref in node.analyses %}
        <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
        {% endfor %}
    {{node.marked_up|safe}}
    </p>
    {% else %}
        {% if node.interpretations %}
        <a href="#{{ node.interpretations }}" class="interpretation-ref">[I]</a>
        {% endif %}
        {% for doc_num, ref in node.analyses %}
        <a href="notice/{{ doc_num }}.html#{{ ref }}" class="sxs-ref">[S]</a>
        {% endfor %}
    {% endif %}
    {% if node.children %}
    {% if node.node_type == "appendix" %}
        {% with level=node.tree_level|add:"-1" %}
        <ol class="level-{{level}}" 
        type="{% if level == 2%}1{% elif level == 3 %}i{% elif level == 4 %}A{% endif %}">
        {% endwith %}
    {% else %}
        <ol class="level-{{node.tree_level}}" 
        type="{% if node.tree_level == 2%}1{% elif node.tree_level == 3 %}i{% elif node.tree_level == 4 %}A{% endif %}">
    {% endif %}
        {% for c in node.children %}
            {%with node=c template_name="tree.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </ol>
    {% endif %}
</li>
