{% comment %}
    Display an appendix section. 
{% endcomment %}

{% if c.node_type == "appendix" %}
    <section id="{{c.markup_id}}" class="appendix-section section-focus" data-base-version="{{version}}" data-page-type="appendix">
        <h2 class="appendix-title" tabindex="0"> {{c.header|safe}} </h2>
         {%if c.TOC %}
            {% with nav_class='appendix-nav' toc_items=c.TOC %}
               {% include "regulations/toc.html" %} 
            {% endwith %}
         {%endif%}

         {{ c.marked_up|safe|linebreaksbr }}


            {% if c.marked_up %}
            <p> 
                {{c.marked_up|safe|linebreaksbr}} 
            </p>
            {% endif %}

            {% if c.children %}
                <ol class="level-{{level_one.children.0.list_level}}" type="{{level_one.children.0.list_type}}">
                {% for node in c.children  %}
                    {% include "regulations/tree-with-wrapper.html" %}
                {% endfor %}
                </ol>
            {% endif %}

            {% if c.interp %}
                {% with interp=c.interp %}
                    {% include "regulations/slide-down-interp.html" %}
                {% endwith %}
            {% endif %}
            </section>
{% endif %}


    {% if c.interp %}
        {% with interp=c.interp %}
            {% include "regulations/slide-down-interp.html" %}
        {% endwith %}
    {% endif %}
