{% comment %}
All other templates that need the HTML front matter, such as links to
CSS/Javascript etc., should inherit from this template.
{% endcomment %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% load static from staticfiles %}
        <meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {% block title %}
        {{meta.cfr_title_number}} CFR Part {{reg_part}} | eRegulations
        {% endblock %}
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="{%static "eregsip/favicon.ico" %}"/>
        {% block app_js %}
        <script>
            window.APP_PREFIX = "{{ APP_PREFIX }}";
        </script>
        {% if env == 'built' %}
          <link rel="stylesheet" href="{%static "regulations/css/style.min.css" %}"/>
          <script src="{%static "regulations/js/source/otherlibs/modernizr.js" %}"></script>
          <script src="{%static "regulations/js/built/regulations.min.js" %}"></script>
        {% else %}
          <link rel="stylesheet" href="{%static "regulations/css/style.css" %}"/>
          <!-- enable livereload and serve non minified js in debug mode -->
          <script src="//localhost:35729/livereload.js"></script>
          <script src="{%static "regulations/js/source/otherlibs/modernizr.js" %}"></script>
          <script src="{%static "regulations/js/built/regulations.js" %}"></script>
        {% endif %}
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="{%static "regulations/js/built/lib/respond/respond.min.js" %}"></script>
        <![endif]-->
        {% block preload %}
        {% endblock %}

    </head>
    <!--[if lt IE 7]>      <body class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <body class="lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <body class="lt-ie9"> <![endif]-->
    <!--[if IE 9]>         <body class="lt-ie10"> <![endif]-->
    <!--[if gt IE 9]><!--><body><!--<![endif]-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KMMLRS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KMMLRS');</script>
    <!-- End Google Tag Manager -->

    {% block body %}
    {% endblock %}
    </body>
</html>
