{% comment %}
All other templates that need the HTML front matter, such as links to
CSS/Javascript etc., should inherit from this template. 
{% endcomment %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {% load static from staticfiles %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        {% block title %}
        PART {{reg_part}} - {{meta.statutory_name|upper}}{%if meta.reg_letter %} (REGULATION {{meta.reg_letter}}) {% endif %}
        {% endblock %}
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="{%static "eregsip/favicon.ico" %}"/>
        <link rel="stylesheet" href="{%static "regulations/css/style.min.css" %}"/>
        <script src="{%static "regulations/js/source/otherlibs/modernizr.js" %}"></script>
        {% block app_js %}
        <script src="{%static "regulations/js/"|add:env|add:"/require.config.js" %}"></script>
        <script>
            if (typeof require !== 'undefined') {
                require.baseUrl = "{%static "regulations/js/"|add:env|add:"/"%}";
            }
            window.APP_PREFIX = "{{ APP_PREFIX }}";
        </script>
        <script data-main="regulations" src="{%static "regulations/js/"|add:env|add:"/lib/requirejs/require.js" %}"></script>
        {% endblock %}

        <!--[if lt IE 9]>
            <script src="{%static "regulations/js/built/lib/respond/respond.min.js" %}"></script>
        <![endif]--> 
        <!--[if IE 7]>
            <link rel="stylesheet" href="{%static "regulations/css/icon-ie7.css" %}"/>
        <![endif]-->
    </head>
    <!--[if lt IE 7]>      <body class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <body class="lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <body class="lt-ie9"> <![endif]-->
    <!--[if IE 9]>         <body class="lt-ie10"> <![endif]-->
    <!--[if gt IE 9]><!--><body><!--<![endif]-->
    {% block body %}
    {% endblock %}
    {% if EREGS_GA_EREGS_SITE and EREGS_GA_EREGS_ID %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 
              '{{ EREGS_GA_EREGS_ID }}', '{{ EREGS_GA_EREGS_SITE }}');
          ga('send', 'pageview');
        </script>
    {% endif %}
    {% if EREGS_GA_ALT_SITE and EREGS_GA_ALT_ID %}
        <script>
            ga('create', '{{ EREGS_GA_ALT_ID }}', '{{ EREGS_GA_ALT_SITE }}', {'name': 'altAcct'});
            ga('altAcct.send', 'pageview');
        </script>
    {% endif %}
    </body>
</html>
