{% extends "regulations/base.html" %}
{% load static from staticfiles %}


{% block title %}
    {% if node_type == 'appendix' %}
        {{formatted_id}} to {{meta.cfr_title_number}} CFR {{reg_part}} | eRegulations
    {% elif node_type == 'interp' %}
        {{formatted_id}} | eRegulations
    {% else %}
        {{meta.cfr_title_number}} CFR {{formatted_id}} | eRegulations
    {% endif %}
{% endblock %}


{% block body %}
{% comment %}
    Page-level template for everything but notices.
{% endcomment %}

<!--[if lt IE 8]>
    <div class="browser-warning displayed">
        <h2>Please note that the eRegulations tool does not support Internet Explorer version 7 or below.</h2>
        <ul>
            <li>To improve your experience, please <a href="http://browsehappy.com/">upgrade your browser <span class="cf-icon cf-icon-right"></span></a></li>
            <li>If you are using IE8 or later, you may need to turn off "Compatibility View."</li>
        </ul>
    </div>
<![endif]-->

<header id="site-header" class="reg-header chrome-header" role="banner">
{% include "regulations/main-header.html" %}

<div class="sub-head">
    <a href="#content-wrapper" class="hidden-text">Skip to main content</a> <!-- skip to content link for screen readers-->
    <div class="toc-head">
        <a href="#" id="panel-link" class="toc-toggle panel-slide"><span class="icon-text">Navigation</span></a>
        <ul class="drawer-toggles">
            {% block sidebar-toc-link %}
            <li><a href="#table-of-contents" id="menu-link" class="toc-nav-link current" title="Table of Contents" data-gtm_ignore="true"><span class="icon-text">Table of Contents</span><span class="cf-icon cf-icon-table-of-contents"></span></a></li>
            {% endblock %}
            {% block sidebar-history-link %}
            <li><a href="#timeline" id="timeline-link" class="toc-nav-link" title="Regulation Timeline" data-gtm_ignore="true"><span class="icon-text">Regulation Timeline</span><span class="cf-icon cf-icon-history"></span></a></li>
            {% endblock %}
            {% block sidebar-search-link %}
            <li><a href="#search" id="search-link" class="toc-nav-link" title="Search"><span class="icon-text" data-gtm_ignore="true">Search</span><span class="cf-icon cf-icon-search"></span></a></li>
            {% endblock %}
        </ul>
    </div> <!-- /toc-head-->
    <div id="content-header" class="header-main group">
        <div class="wayfinding">
            <span class="subpart"></span>
            <span id="active-title">{% block active_title %}<em class="header-label"><span class="reg_part">§{{ reg_part }}</span></em>{% endblock %}</span>
        </div>
        {% block header-secondary %}
        <span class="effective-date"><strong>Effective Date:</strong> {{ meta.effective_date|date }}</span>
        <h2> </h2>
        {% endblock %}
    </div>
</div>
</header>

{% comment %}
    We include the drawer in-line so that we can use blocks
    http://stackoverflow.com/questions/9633387/django-using-blocks-in-included-templates
{% endcomment %}
{% with active_version=version %}
<div id="menu" class="panel" data-reg-id="{{ reg_part }}" data-cfr-title-number="{{meta.cfr_title_number}}">
    {% block drawer-toc %}
        {%if TOC %}
            {% with nav_class='regulation-nav' toc_items=TOC top_toc=True %}
                {% include "regulations/toc.html" %}
            {% endwith %}
        {%endif%}
    {% endblock %}
    {% block drawer-history %}
        <div id="timeline" class="history-drawer toc-container hidden">
            <div class="drawer-header">
                <h2 class="toc-type">Regulation Timeline</h2>
            </div><!-- /.drawer-header -->
            <div class="drawer-content">
                <p class="effective-label">Find the regulation effective on this date:</p>
                <div class="form-wrap group">
                <form action="{% url 'redirect_by_date_get' label_id %}"
                      method="GET" class="date-input">
                  <input type="text" name="month" class="month-input" maxlength="2" value="{% now "m" %}" />
                  / <input type="text" name="day" class="day-input" maxlength="2" value="{% now "d" %}" />
                  / <input type="text" name="year" class="year-input" maxlength="4" value="{% now "Y" %}" />
                  <button type="submit" class="find-button">Find</button>
                </form>
                </div><!--./date-form-->
                <ul class="version-list" id="history-toc-list">
                {% for version in history %}
                    <li class="{% if version.version == active_version %}current {% endif %}status-list" data-base-version="{{version.version}}">
                    <a href="{% url version_switch_view label_id version.version %}" class="version-link" data-version="{{ version.version }}" id="link-{{ version.version }}">
                        {% if version.timeline == 'current' %}
                            <h4>Current Law</h4>
                        {% endif %}
                        <span class="version-date">{{ version.by_date|date }}</span>
                    </a>
                        <div class="timeline-content-wrap">
                            <h5 class="final-rule">Final Rule</h5>
                            <ul class="rule-list">
                            {% for notice in version.notices %}
                                <li><a class="fr-notice external" href="{{notice.fr_url}}" ria-label="Link opens in a new window" target="_blank" rel="noopener noreferrer">Published {{notice.publication_date|date}}</a></li>
                            {% endfor %}
                                </ul>
                                <div class="diff-selector group">
                                <h4 class="compare-title">Compare this with</h4>
                                <div class="select-content">
                                <form action="{% url 'diff_redirect' diff_redirect_label active_version %}" method="GET">
                                    <select name="new_version" onChange="this.form.submit();">
                                        <option value="default" disabled="disabled" selected="selected">regulation effective</option>
                                        {% for version in history %}
                                            {% if active_version != version.version %}
                                                <option value="{{version.version}}">{{version.by_date|date}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </div> <!--/.select-content-->
                        </div><!--/.diff-selector-->
                    </div><!--/.timeline-content-wrap-->
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div> <!--/#history-->
    {% endblock %}
    <div id="search" class="search-drawer toc-container hidden">
        <div class="drawer-header">
            <h2 class="toc-type">Search</h2>
        </div><!-- /.drawer-header -->
        <div class="drawer-content">
            <form action="{% url 'chrome_search' reg_part %}" method="GET" role="search">
                <div class="search-box">
                    <input type="text" name="q" value="{{ q }}" id="search-input" /><button type="submit"><i class="cf-icon cf-icon-search"></i><strong class="icon-text">Search</strong></button>
                </div><!--/.search-box-->
                <div class="version-search">
                    <h4>Search in regulation effective:</h4>
                    <div class="select-content">
                        <select name="version" id="version-select">
                        {% for version in history %}
                            <option value="{{version.version}}"{% if active_version == version.version %} selected="selected"{% endif %}>{{version.by_date|date}}</option>
                        {% endfor %}
                        </select>
                    </div> <!--/.select-content-->
                </div><!--/.version-search-->
            </form>
        </div><!-- /.drawer-content -->
    </div> <!--/#search-->
</div> <!-- /.panel -->
{% endwith %}

<div class="wrap group">

{% block chrome-content %}
<main role="main">
  <div id="content-body" class="main-content">
      {% load in_context %}
      {{ main_content|safe }}
      {% begincontext main_content_context main_content_template %}
          {% if main_content_template %}
              {% include main_content_template %}
          {% endif %}
      {% endcontext %}

  </div> <!-- /.main-content -->
</main>
{% endblock %}

{% block chrome-sidebar %}
<div id="sidebar" class="secondary-content secondary-content-{{reg_part}}" role="complementary">
    <div id="sidebar-content" class="sidebar-inner">
        <section id="definition"></section>
        {% block reg_sidebar %}
            {{ sidebar_content|safe }}
        {% endblock %}
    </div>
</div>
{% endblock %}

</div> <!-- /.wrap -->

{% include "regulations/footer.html" %}

<div class="breakaway-wrap">
    <div id="breakaway-view" class="breakaway-content"></div>
</div>

{% endblock %}
