<div id="content-body" class="main-content">
    <section id="content-wrapper">
        <section data-base-version="{{ current_version.version }}" class="landing" data-page-type="landing-page" data-reg-part="{{reg_part}}">
            {% block reg_title %}
            {% endblock %}
            {% block reg_main_content %}
            {% endblock %}
            {% block reg_link %}
            {% endblock %}

            <div id="disclaimer">
                {% block legal_disclaimer %}
                {% endblock %}
            </div>
        </section>
    </section>
</div>


<div id="sidebar" class="secondary-content">
    <div id="sidebar-content" class="sidebar-inner">
    <section class="landing-sidebar">
        {% if new_version %}
        <div class="alert">
            <h3> New amendments effective: <strong>{{new_version.by_date|date:"m/d/Y"}}</strong></h3>
            <ul>
                <li> <a href="{% url 'chrome_section_view' reg_first_section new_version.version %}" class="go">View amended regulation</a></li>
                {%comment %} 
                <li> <a href="{% url 'chome_section_diff_view' reg_first_section current_version.version new_version.version %}" class="go">Compare new version</a></li>
                {% endcomment %}
            </ul>
        </div><!--/.alert-->
        {% endif %}

        {% block reg_sidebar %}
        {% endblock %}
    </section>
    </div>
</div>
