<header class="expandable group">
    <h4 tabindex="0">Help</h4>
    <a href="#" tabindex="0"><span class="icon-text">Show/Hide Contents</span></a>
</header>
<div class="chunk expand-drawer">
    <div class="sidebar-subsection">
        <h5 class="help-title">Interface Help</h5>
        <!--<a class="go" href="#">What's this</a>-->

        <ul class="help-list">
            <li><span class="minicon-menu help-icon"></span>Table of contents</li>
            <li><span class="minicon-history help-icon"></span>Regulation Timeline</li>
            <li><span class="minicon-search help-icon"></span>Search</li>
            <li><span class="minicon-left help-icon"></span>Hide Navigation <br/>
                <span class="minicon-right help-icon"></span>Show Navigation</li>
        </ul>
    </div> <!-- /.sidebar-subsection-->