{% load reg_updates %}

<div id="content-body" class="main-content">
    <section id="content-wrapper">
        <section data-base-version="{{ current_version.version }}" class="landing" data-page-type="landing-page" data-reg-part="{{reg_part}}">
            {% block reg_title %}
            {% endblock %}

            {% if new_version %}
            <div class="alert effective-alert group">
              <div class="alert_effective-date">
                  New amendments effective: <strong>{{new_version.by_date|date:"m/d/Y"}}</strong>
              </div>
              <div class="alert_view-link">
                  <a href="{% url 'chrome_section_view' reg_first_section new_version.version %}" class="go">View amended regulation</a></li>
              </div>
            </div><!--/.alert-->
            {% endif %}

            {% update_in_progress reg_part as reg_update_in_progress %}
            {% if reg_update_in_progress %}
            <div class="group">
              <p>
                We’re working on adding recently released updates to this regulation. In the meantime, you can see
                <a href="https://www.consumerfinance.gov/policy-compliance/rulemaking/final-rules/"
                  >all the final rules issued by the CFPB</a>.
              </p>
            </div>
            {% endif %}

            {% block reg_main_content %}
            {% endblock %}
            {% block reg_addtl_content %}
            {% endblock %}

            <div id="disclaimer">
                {% block legal_disclaimer %}
                {% endblock %}
            </div>
        </section>
    </section>
</div>


<div id="sidebar" class="secondary-content secondary-content-{{reg_part}}">
    <div id="sidebar-content" class="sidebar-inner">
    <section id="definition"></section>
    <section class="landing-sidebar">

        {% block reg_sidebar %}
        {% endblock %}
    </section>
    </div>
</div>
