<header class="expandable group" data-expandable="help-expandable">
    <h4 tabindex="0">Help</h4>
    <a href="#" tabindex="0"><span class="icon-text">Show/Hide Contents</span></a>
</header>
<div class="chunk expand-drawer">
    <div class="sidebar-subsection">
        <h5 class="help-title">Interface Help</h5>
        <a class="what" href="{% url 'regulations_about' %}#navigation" aria-label="Link opens in a new window" target="_blank" rel="noopener noreferrer">(What's this?)</a>

        <ul class="help-list">
            <li><span class="cf-icon cf-icon-table-of-contents help-icon"></span>Table of contents</li>
            <li><span class="cf-icon cf-icon-history help-icon"></span>Regulation Timeline</li>
            <li><span class="cf-icon cf-icon-search help-icon"></span>Search</li>
            <li><span class="cf-icon cf-icon-left help-icon"></span>Hide Navigation</li>
            <li><span class="cf-icon cf-icon-right help-icon"></span>Show Navigation</li>
        </ul>
    </div> <!-- /.sidebar-subsection-->
