{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}

{%if c.node_type == 'regtext' %}
<section id="{{c.markup_id}}" class="reg-section section-focus" tabindex="0" data-permalink-section data-base-version="{{version}}" data-page-type="{{markup_page_type}}" {% if newer_version %}data-newer-version="{{newer_version}}"{% endif %}>
    <h2 class="section-title" tabindex="0"> {{c.header|safe}} </h2>
        {% if c.marked_up %}
        <p> 
        {{c.marked_up|safe}} 
        </p>
        {% endif %}

        <ol class="level-1" type="a">
        {% if c.children %}
            {% for node in c.children %}
                {% include "regulations/tree-with-wrapper.html"  %}
            {% endfor %}
        {% endif %}
        </ol>

        {% if c.interp %}
            {% with interp=c.interp %}
                {% include "regulations/slide-down-interp.html" %}
            {% endwith %}
        {% endif %}
{% endif %}
