/*
 Fonts
 ==========================================================================
 Place all @font-face rules in fonts.less
 */

@font-face{
    font-family: "Avenir Next";
    src: url("../../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
         url("../../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Italic";
    src: url("../../fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),
         url("../../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "Avenir Next Demi";
    src: url("../../fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),
         url("../../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Bold";
    src: url("../../fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),
         url("../../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Demi Italic";
    src: url("../../fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"),
         url("../../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}
