/*
Main.less
==========================================================================
main.less imports all supporting less files
and includes any non-semantic helper classes
*/

/*
Type & Layout
------------- */
@import "normalize.less";
@import "cf-icons.less";
@import "mixins.less";
@import "fonts.less";
@import "typography.less";
@import "layout.less";

/*
Modules
------- */
@import "module/navigation.less";
@import "module/drawer.less";
@import "module/interpretations.less";
@import "module/header.less";
@import "module/footer.less";
@import "module/sidebar.less";
@import "module/sxs.less";
@import "module/search-results.less";
@import "module/forms.less";
@import "module/diffs.less";
@import "module/expandables.less";
@import "module/reg-landing.less";
@import "module/universal-landing.less";
@import "module/about.less";
@import "module/error.less";


/*
Overrides
------- */
@import "overrides.less";

/*
 Global
 ========================================================================== */

img {
    max-width: 100%;
}

/*
 Helper Classes
 ========================================================================== */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;
 }

/*.lt-ie10 {
  *, *:before, *:after {
      box-sizing: content-box;
  }
}*/
 /* hide sxs links */
.sxs-ref {
    display: none;
}

.inline {
    display: inline;
    margin: 0;
}

.js {
    .hidden {
        display: none;
    }
}

.hidden-text {
    position: absolute;
    left: -99999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.icon-text {
    position: absolute;
    left: -99999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.disabled {
    display: none;
}

.content-wrap {
    padding: 0 15px;
}

.loading {
    -moz-opacity: 0.3;
    opacity: 0.3;

    * {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
        filter: alpha(opacity=30); /* IE 6 & 7 */
    }
}

.loading-spinner:after {
    .u_spinner;
}

.important {
    color: @red;
}

.alert {
    background-color: #F6D9D3;
    border: 1px solid #E8A091;
    .avenir-next;

    ul {
        .reset;
    }
}

.reset-indent {
    text-indent: 0;
}

.well {
    padding: 1em 1.25em;
    background: @gray-5;
}

.bump {
    margin-top: 2em;
}

.s-bump {
    margin-top: 1em;
}

.shrink {
    font-size: 0.875em;
}

.sub-text {
    font-size: 0.875em;
}

.left {
    float: left;
    margin-right: 15px;
}

.right {
    float: right;
    margin-left: 15px;
}

.full-right {
    float: right;
    text-align: right;
}

.error {
    .avenir-next;
    color: @red;
    border-bottom: 1px solid @gray-20;
    font-size: .9em;
    padding: 1em 0;
    line-height: 1.6em;
}

.icon-warning {
    float: left;
    margin: .25em .5em 0 0;
    color: @red;
}

/* credit */
#modal {
    .avenir-next-demi;
    color: @gray;
    width: 400px;
    height: 400px;
    position: fixed;
    z-index: 9999;
    background: #f1f2f2 url('../../regulations/img/kbg.png');
    border: 4px solid @gray-80;
    padding: 20px 40px;

    ul {
        padding: 0;
        margin-top: 0;

        li {
            .avenir-next;
            margin-top: .75em;
        }
    }
}

#modal-overlay {
    position: absolute;
    top: 0;
    z-index: 9990;
    background-color: #fff;
}

#x {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    line-height: 0;
    padding: 9px 5px 10px 5px;
}

#modal-intro,
#sig {
    margin-top: 20px;
}

#modal-intro {
    font-size: 1.7em;
}

#sig {
    .avenir-next;
}

.love {
    color: #DA6750;
}

/* focus styles need to be defined */
section:focus,
.open-definition {
    outline: none;
}

img.reg-image {
    width: 60%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid @gray-20;
}

.block-image {
    display: block;
}

/* IE7 browser warning message */
.browser-warning {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 0;
    background-color: #F6D9D3;
    border-bottom: 2px solid #E8A091;
    font-family: Arial, sans-serif;
    z-index: 999999;

    h2 {
        font-size: 18px;
        margin-left: 20px;
        padding: 0 26px;
        background: url(../img/exclamation.png) left center no-repeat;
    }

    ul {
        margin-top: 10px;
        margin-left: 26px;
    }

    li {
        display: inline;
        font-size: 14px;
        padding-right: 20px;
    }

    .cf-icon-right {
        font-size: 12px;
    }
 }

/*
Clearfix
--------
* Use .group class as clearfix...
* It just sounds nicer!
*/
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.group {
    *zoom: 1;
}

/*
Import no-js.less and print.less at the end, since they override other rules
*/
@import "module/no-js.less";
@import "print.less";
