/*
LESS Mixins & Variables
 ==========================================================================
mixins.less contains any mixins or variables to be used throughout the LESS files
*/

/*
 Color Variables
 ----------------
 */

@green: #2CB34A;
@green_midtone: #ADDC91;
@green_light: #DBEDD4;
@black: #101820;
@dark_field: #5C6065;
@light_field: #D1D3D5;
@grey: #E6E7E9;
@red_orange: #D12124;
@pacific: #0072CE;
@link_blue: #348dc9; /* blue used for link borders and search results */
@light_neutral: #D7D2CB;
@dark_gray: #797D81
; /* dark border */
@bg_gray: #F7F8F9; /* background header */
@medium_gray: #B8BABD; /* light border */
@80_gray: #9A9DA1;
@dark_text: #797D81;
@mid_text: #43484E;
@orange: #FBCD92;
@light_orange: #FFECD1;
@pacific_hover: #328ED8;
@pacific_light: #CCE3F5;
@red_orange_80: #D96A4F;
@red_orange_50: #E9A193;

/*
 Type Variables/Mixins
 ----------------------
*/

@body-font: Georgia, serif;

.avenir-next {
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.avenir-next-demi {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.avenir-next-demi-italic {
    font-family: "Avenir Next Demi Italic", Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

/*
 Border Styles
 --------------
*/

.border-bottom-medium (@width: 1px) {
    border-bottom: @width solid @medium_gray;
}

.border-bottom-light (@width: 1px) {
    border-bottom: @width solid @light_field;
}

.border-bottom-dark (@width: 1px) {
    border-bottom: @width solid @dark_gray;
 }

 .border-top-light (@width: 1px) {
    border-top: @width solid @light_field;
 }

 .border-top-medium (@width: 1px) {
    border-top: @width solid @medium_gray;
}

.border-right-light (@width: 1px){
    border-right: @width solid @light_field;
}

/*
 Animations
 -----------
*/

.slide (@direction: left, @speed: 300ms) {
    transform: translate3d(0,0,0);
    -webkit-transition: @direction @speed ease;
       -moz-transition: @direction @speed ease;
        -ms-transition: @direction @speed ease;
         -o-transition: @direction @speed ease;
            transition: @direction @speed ease;
}

// utility class for spinning loading indicators
.u_spinner {
    .cf-icon;
    .cf-icon__spin;
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    content: "\e112";
    color: @pacific;
    text-align: center;
    font-size: 1.375em;
    margin-top: 2em;
}

 /*
 Helpers
 ------------- */
.reset {
    margin: 0;
    padding: 0;
}
