@media only screen and ( max-width: 480px ) {
        ol {
            padding: 0;
        }

        .main-head {
            height: auto;
            padding: 1em 0 0 0;
            
        .logo {
            float: none;
            margin: 0 0 0 20px
        }

        .site-title {
            display: block;
            float: none;
        }
    }

    .panel {
        top: 150px;
    }

    .panel.active {
        top: 32px; /* offset shorter header height */
    }

    .inline-interpretation .expand-button {
        display: none;
    }

    .main-head {
        display: none;
    }

    .main-content {
        padding-top: 0;
    }

    .secondary-content {

        h4 {
            &.expandable:after {
                content: "";
            }

            &.open:after {
                content: "";
            }
        }
    }
}