@media only screen and ( max-width: 480px ) {
    
    /*
    Typography
    ====================
    */

    ol {
        padding: 0;
    }

    /*
    Header
    ====================
    */
    .main-head {
        height: auto;
        padding: 1em 0 0 0;
        
        .logo {
            float: none;
            margin: 0 0 0 20px
        }

        .site-title {
            display: block;
            float: none;
        }
    }

    .panel {
        top: 150px;
    }

    .panel.active {
        top: 32px; /* offset shorter header height */
    }

    .main-head {
        display: none;
    }

    .sub-head {
        border-top: 2px solid @dark_text;
    }

    .main-content {
        padding-top: 10px;
    }

    .inline-interpretation {
         h4 {
            padding: 0;
            background: none;
        }

        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
            h4 {
                background: none;
            }
        }
    }

    .secondary-content {
        position: static;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        border-left: none;
        padding-left: 40px;

        .regs-meta {
            width: 100%;
            float: left;
        }

        .regs-meta:first-child {
            border-right: none;
        }

        .regs-meta:last-child {
            .chunk {
                margin-left: 0;
                border-left: none;
            }
        }
    }
}