
@font-face{
    font-family: "Avenir Next";
    src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot");
    src: url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?iefix") format("embedded-opentype"),
         url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Italic";
    src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot");
    src: url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?iefix") format("embedded-opentype"),
         url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Demi";
    src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot");
    src: url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?iefix") format("embedded-opentype"),
         url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Demi Italic";
    src: url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot");
    src: url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?iefix") format("embedded-opentype"),
         url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Bold";
    src: url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot");
    src: url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?iefix") format("embedded-opentype"),
         url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Avenir Next Bold Italic";
    src: url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot");
    src: url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?iefix") format("embedded-opentype"),
         url("../fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.wf-loading h1, .wf-loading h2, .wf-loading h3 {
  visibility: hidden;
}