@import "normalize.css";

@import "fonts.css";
/**
* eRegs CSS
*
* This is the base CSS for Regulation E. The goal is to define global
* CSS styles for displaying a regulation.
*
* Table of Contents
*  - global styles
*  - layout
*  - regulation styles
*  - helper classes
*
*/
/* ==========================================================================
 color variables
 ========================================================================== */
/* ==========================================================================
 type variables/mixins
 ========================================================================== */
.avenir-next {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.avenir-next-bold {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.avenir-next-demi {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* ==========================================================================
 global styles
 ========================================================================== */
body {
  color: #101820;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.625;
  /* 26px */

}
h1 {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25em;
  /* 36px / 16px */

  line-height: 1.194;
  text-transform: uppercase;
}
h2,
h3 {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h4,
h5 {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}
li {
  margin-top: 1em;
  /*16px*/

}
/* ==========================================================================
 link styles
 ========================================================================== */
/* default */
a:link,
a:visited {
  color: #101820;
  text-decoration: none;
  border-bottom: 1px solid #348dc9;
}
a:hover,
a:active {
  background-color: #cde3f1;
}
/* internal links */
a.internal:link,
a.internal:visited {
  color: #101820;
  text-decoration: none;
  border-bottom: 1px solid #348dc9;
}
a.internal:hover,
a.internal:active {
  background-color: #cde3f1;
}
/* external links */
a[href^="http://"]:link,
a[href^="http://"]:visited {
  color: #0072ce;
  text-decoration: none;
  border: none;
}
a[href^="http://"]:hover,
a[href^="http://"]:active {
  border-bottom: 1px solid;
  background: none;
}
/* citation links */
a.definition:link,
a.definition:visited {
  color: #101820;
  text-decoration: none;
  border-bottom: 1px solid #d0d0ce;
}
a.definition:hover,
a.definition:active {
  border-bottom: 1px solid #babbbd;
  background-color: #e7e7e6;
}
/* ==========================================================================
 navgation
 ========================================================================== */
.regulation-nav,
.appendix-nav {
  margin-top: 2.5em;
  /*40px*/

}
.regulation-nav li,
.appendix-nav li {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  font-size: 0.875em;
  /*14px*/

  line-height: 1.85714;
  /*26px*/

}
.regulation-nav li {
  text-indent: 0;
  /* for use with mock outdenting */

}
.regulation-nav {
  padding: 0;
}
.appendix-nav {
  padding-left: 30px;
}
.appendix-nav li {
  text-indent: -30px;
}
/* ==========================================================================
 layout
 ========================================================================== */
.wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.25em;
  /* 20px / 16px = 1.25em */

}
/* ==========================================================================
 regulation styles
 ========================================================================== */
/* headings */
.section-title {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8125em;
  /* 29px / 16px = 1.8125em */

  line-height: 1.25;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.level-1 > li {
  margin-top: 1.875em;
  /* 30px / 16px = 1.875em */

}
/* section marker styles */
/*temporary styles will list markers are sorted out */
li {
  list-style-type: none;
}
li {
  text-indent: -24px;
}
/* actual list marker style */
/*
.section-marker {
  .avenir-next-demi;
  float: left;
  margin-right: 20px;
}

section ol {
  counter-reset: li;
}

section li {
  list-style-type: none;
  position: relative;
  padding-left: 4px;
}

section ol li:before {
  counter-increment:li;
  .avenir-next-demi;
  position: absolute;
  left: -20px;
  top: 0;
}

ol.level-1 > li:before {
  content:counter(li, lower-latin) ". ";
};

ol.level-2 > li:before {
  content:counter(li, decimal) ". ";
}

ol.level-3 > li:before {
  content:counter(li, lower-roman) ". ";
}

ol.level-4 > li:before {
  content:counter(li, upper-latin) ". ";
}
/*

/* dfn styles */
dfn {
  font-family: "Avenir Next Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.level-1 .key-term {
  font-size: 1.5em;
  /* 24px / 16px = 1.5em */

  line-height: 1.25;
  /* 30px / 24px = 1.25 */

}
.level-2 .key-term,
.defined-term {
  text-transform: uppercase;
  font-size: 1em;
}
/* block text -- not ie7 friendly :( */
.key-term:after {
  content: "\a";
  white-space: pre;
}
/* ==========================================================================
  appendix stlyes
 ========================================================================== */
.appendix-title {
  font-family: "Avenir Next", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25em;
  /* 36px / 16px */

  line-height: 1.194;
  text-transform: uppercase;
  margin: 60px 0 0 0;
}
.appendix-header,
h3 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 20px;
  /*ALL CAPS (except reference to section (1005.5(a)(1)(i))*/

}
h4 {
  font-size: 24px;
  line-height: 30px;
}
.model-form-content {
  background: #f6f6f5;
  border: 1px solid #e3e4e5;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
/* ==========================================================================
 helper classes
 ========================================================================== */
.inline {
  display: inline;
  margin: 0;
}
/* .group class as clearfix */
.group:before,
.group:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.group:after {
  clear: both;
}
/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.group {
  *zoom: 1;
}
