@media print {

/* ==========================================================================
 typography
 ========================================================================== */

body {
    font-size: 0.75em; /* 12px/16px = .75 */
}

@page {
    margin: 1in;
}


/* ==========================================================================
 page breaks & orphans
 ========================================================================== */

h1, h2, h3, h4 {
    page-break-after: avoid;
}

p {
    orphans: 3;
}

/* ==========================================================================
 hidden elements
 ========================================================================== */

 img, #table-of-contents, #menu-link {
    display: none;
 }

 /* ==========================================================================
 margin/padding resets
 ========================================================================== */

 body, .wrap {
    margin: 0;
    padding: 0;
 }

/* ==========================================================================
 link styles
 ========================================================================== */


/* removed link styles from definitions & citations */
a.definition:link,
a.definition:visited,
a.citation:link,
a.citation:visited {
  border-bottom: none;
  color: #101820;
}

}
