.inline-interpretation {
    background-color: @bg_gray;
    padding: 0.125em .625em;
    margin-bottom: 1em;
    border-bottom: 0px;
    position: relative;

    &:hover {
        background-color: @grey;
        cursor: pointer;
    }

    &.open {
        background-color: @grey;
        cursor: auto;
    }

    h4 {
        color: @dark_field;
        text-transform: uppercase;
        .avenir-next;
        font-size: .8em;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .ref-num {
        text-transform: lowercase;
        font-weight: bold;
    }

    ol {
        margin-top: 0;
        padding-top: 0;
    }

    li { /* reset borders */
        border: none;
    }

    .level-1 > li {
        border-bottom: none;
    } 


    p {
        font-size: 0.875em;
    }

    .expand-button {
        color: @pacific;
        position: absolute;
        right: .625em;
        display: inline-block;
        .avenir-next;
        padding-right: 19px;
        background: url(../img/accordion-sprite.png) no-repeat right 11px;
        text-transform: uppercase;
        .avenir-next-bold;
        line-height: 30px; /* match h4 */
        font-size: .8em;
        cursor: pointer;
    }

    .open {
        background-position: right -12px;
    }
}

.level-1 > .inline-interpretation:last-child {
    margin-bottom: 0;
}
