.inline-interpretation {
    background-color: @bg_gray;
    padding: 0.125em .625em;
    margin-bottom: 1em;
    margin-left: -20px; /*aligns with list marker */
    border-bottom: 0px;
    position: relative;

    &:hover {
        background-color: @grey;
        cursor: pointer;
    }

    &.open {
        background-color: @grey;
        cursor: auto;
    }

    h4 {
        color: @dark_field;
        text-transform: uppercase;
        .avenir-next;
        font-size: .8em;
        display: inline-block;
        margin: 0;
        padding: 0 0 0 20px;
        background: url(../img/supplement.png) no-repeat 0 3px;
    }

    h5 {
        text-transform: none;
        font-size: 1.375em;
        margin: 0.875em 0 0 0;
        line-height: 1.272727273;
    }

    .level-1 .key-term {
        font-size: 1em;
        text-transform: uppercase;
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
        h4 {
            background: url(../img/supplement@2x.png) no-repeat 0 3px;
            background-size: 12px 15px;
        }
    }

    .ref-num {
        text-transform: lowercase;
        .avenir-next-demi;
    }

    ol {
        margin-top: 0;
        padding-top: 0;
    }

    li { /* reset borders */
        border: none;
    }

    .level-1 > li {
        border-bottom: none;
        padding: 0;
    } 


    p {
        font-size: 1em;
    }

    .expand-button {
        color: @pacific;
        position: absolute;
        right: .625em;
        display: inline-block;
        .avenir-next;
        padding-right: 19px;
        background: url(../img/accordion-sprite.png) no-repeat right 11px;
        text-transform: uppercase;
        .avenir-next-bold;
        line-height: 30px; /* match h4 */
        font-size: .8em;
        cursor: pointer;
    }

    .open {
        background-position: right -12px;
    }
}

.level-1 > .inline-interpretation:last-child {
    margin-bottom: 0;
}
