/* ==========================================================================
 navgation
 ========================================================================== */

.appendix-nav {
    margin-top: 2.5em; /*40px*/
}

.appendix-nav li {
    .avenir-next-demi;
    margin: 0;
    font-size: 0.875em; /*14px*/
    line-height: 1.85714; /*26px*/
}

.regulation-nav {
    padding: 0;
}

.appendix-nav {
  padding-left: 30px;
  list-style: none;
}

.appendix-nav li {
    text-indent: -30px;
}


/* ==========================================================================
 table of contents
 ========================================================================== */

.regulation-nav {
    position: fixed;
    top: 100px;
    left: -272px; /* 250px + 20px padding + 2px border*/
    width: 15.625em; /* 250px */
    background-color: #f6f6f5;
    z-index: 1000;
    overflow-y: scroll;
    height: 84%; /* offsets the header so that nav isn't hidden at the bottom of the TOC */
    border-right: #d0d0ce 2px solid;
    margin: 0;
    padding: 0 0 60px 0; /*add padding at the bottom of the TOC to accomodate for scrollbars */
    .avenir-next-demi;
    font-size: 0.875em; /*14px*/
}

/*.no-js .panel {
    left: 0;
}*/

.regulation-nav.active{
    left: 0;
}

#reg-content.active,
#content-header.active {
    left: 16em;
}

@media only screen and (min-width: 1000px) {

/* slide all content less on wide screens */
    #reg-content.active,
    #content-header.active {
        left: 8em;
    }

}

@media only screen and (min-width: 1200px) {

/* slide all content less on wide screens */
    #reg-content.active,
    #content-header.active {
        left: 4em;
    }

}

@media only screen and (min-width: 1400px) {

/* slide all content less on wide screens */
    #reg-content.active,
    #content-header.active {
        left: 0em;
    }

}

/* CSS Transitions for Slide Effect */
.regulation-nav {
    transform: translate3d(0,0,0);
    -webkit-transition: left 300ms ease; 
       -moz-transition: left 300ms ease; 
        -ms-transition: left 300ms ease; 
         -o-transition: left 300ms ease; 
            transition: left 300ms ease; 
}

/* TOC titles */
.panel h2 {
    padding-left: 20px
}

.toc-title-num {
    .avenir-next-demi;
    text-transform: uppercase;
    color: @light_field;
    display: block;
    font-size: 12px;
}

.toc-part-num {
    .avenir-next-demi;
    display: block;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 8px;
}

.toc-reg-title {
    .avenir-next;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 6px;
}

.regulation-nav a:link,
.regulation-nav a:visited,
.regulation-nav a:hover,
.regulation-nav a:active {
    border-bottom: none;
    color: @black;
}

.toc-nav-link {
    text-indent: -9999px;
    display: inline-block;
    width: 24px;
    height: 20px;
    background: url(../img/nav-sprite.png) no-repeat 0 2px;
}

.toc-nav-link:hover,
.toc-nav-link:active {
    background: url(../img/nav-sprite.png) no-repeat 0 -18px;
}

.toc-nav-link.active  {
    color: @pacific;
    background: url(../img/nav-sprite.png) no-repeat 0 -18px;
}

.regulation-nav li {
    margin: 0;
    text-indent: 0;
}

.regulation-nav a {
    display: block;
    padding: 10px 20px;
}

.regulation-nav a:link,
.regulation-nav a:visited {
    border-bottom: 1px solid @light_field;
}

.regulation-nav a:hover,
.regulation-nav a:active {
    background-color: #dbedd4;
}

.toc-section-marker {
    .avenir-next-bold;
    display: block;
    font-size: 18px;
}

.current {
    background-color: #dbedd4;
}
