/* ==========================================================================
 navgation
 ========================================================================== */

.regulation-nav,
.appendix-nav {
    margin-top: 2.5em; /*40px*/
}

.regulation-nav li,
.appendix-nav li {
    font-family: "Avenir Next Demi", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    font-size: 0.875em; /*14px*/
    line-height: 1.85714; /*26px*/
}

.regulation-nav li {
    text-indent: 0; /* for use with mock outdenting */
}

.regulation-nav {
    padding: 0;
}

.appendix-nav {
  padding-left: 30px;
}

.appendix-nav li {
    text-indent: -30px;
}

