/* Permalinks */

.permalink-marker {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    z-index: 100;
    margin-left: -60px;
    margin-top: 20px;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/permalink.png) no-repeat;
}

.permalink-marker:link,
.permalink-marker:visited,
.permalink-marker:hover,
.permalink-marker:active {
    border-bottom: 0px;
}