/* ==========================================================================
 reg header
 ========================================================================== */

.reg-header {
  width: 100%;
  background: #fff;
  top: 0;
  border-bottom: 1px solid #d0d0ce;
  .avenir-next;
}

.reg-header ul {
    padding: 0;
}

.reg-header li {
    text-indent: 0px;
}

#sub-head.fixed{
  position:fixed;
  z-index: 1000;
  top:0;
}