/* ==========================================================================
 reg header
 ========================================================================== */

.reg-header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #d0d0ce;
  .avenir-next;
  z-index: 1000;
}

.reg-header li {
    text-indent: 0px;
}
