/* ==========================================================================
 reg header
 ========================================================================== */

.reg-header {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    border-bottom: 1px solid @medium_gray;
    color: @dark_field;
    .avenir-next;
    z-index: 1000;

    ul {
        padding: 0;
    }

    li {
        margin-top: 0;
        display: inline;
    }
}

.reg-title-header {
    display: inline;
    .avenir-next;
    font-size: 1em;
}

.main-head {
    border-bottom: 2px solid @dark_gray;
}

.main-head nav ul {
    height: 2em;

    li {
        margin-right: 1em;
    }
}

.main-head .main-content {
    border-right: none;
}

.logo {
    background: @bg_gray;
    margin: 1em 0;
    text-align: center;
    height: 32px;
    width: 150px;
    float: right;
}

.sub-head {
    background: @bg_gray;
    height: 2.125em;
}

.reg-header a:link,
.reg-header a:visited {
    border-bottom: none;
    color: @dark_field;
}

.reg-header a:hover,
.reg-header a:active {
    color: @pacific;
}

#content-header {
    li {
        height: 2.125em;
    }
}

.sub-head {
    .main {
        border-right: 1px solid @dark_gray;
    }
}

#sidebar-subhead {
    .avenir-next-bold;

    h2 {
        font-size: 1em;
        margin: .2em 0 .2em 1.6em;
        display: inline-block;
    }

    .close-button {
        margin-top: .5em;
    }
}

.close-button {
    background: url(../img/close.png) no-repeat 0 0;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    cursor: pointer;
}
