.secondary-content {
    font-size: .875em;

    ul,
    li {
        .reset;
    }

    .chunk {
        margin: 1em 0 0 0;

        a:link,
        a:visited {
            color: @pacific;
            text-decoration: none;
            border: none;
        }

        a:hover,
        a:active {
            border-bottom: 1px solid;
        }

        &.hidden {
            margin: 0;
        }

    }

    .sub-text {
        margin-top: 0 0 20px 0; 
        padding: 0 0 20px 0;
        .border-bottom-light(@width: 1px);
    }

    .effective,
    .notice {
        .avenir-next;
    }

    h5 {
        font-size: 0.857142857em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: @dark_gray;
        .avenir-next-demi;

        &.expandable {
            margin: 1.5em 0;
            cursor: pointer;
            padding-right: 20px;
            background: url(../img/open_close.png) no-repeat 99% 3px;
        }

        &.important {
            color: @red_orange;
        }


        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
            &.expandable {
                background: url(../img/open_close@2x.png) no-repeat 99% 3px;
                background-size: 13px;
            }
        }

        &.open {
            background: url(../img/open_close.png) no-repeat 99% -14px;
        }

        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
            &.open {
                background: url(../img/open_close@2x.png) no-repeat 99% -14px;
                background-size: 13px;
            }
        }
    }

    h6 {
        font-size: 1em;
        margin: 16px 0 0 0;
    }

    h6:first-child {
        margin: 0;
    }

}

.open-definition, 
.regs-meta {
    position: fixed;
    padding: 0 0 3.5em 0;
    width: 271px;
    line-height: 1.5714;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
}

.regs-meta {
    padding: 1em 0 0 0;   
}

.open-definition ol,
.active-term {
    .avenir-next-demi;
}

.open-definition p {
    font-family: @body-font;
    font-weight: normal;
}

.open-definition {
    .close-button {
        position: absolute;
        left: -10000px;
        cursor: pointer;

        &:active,
        &:focus {
            position: relative;
            left: 0;
        }
    }
}

/* continue links */
.continue-link {
    .avenir-next-demi;
    display: inline-block;
    margin: 0 20px 0 0;
}

.continue-link:last-child {
    margin-bottom: 100px;
}
