.secondary-content {
    font-size: .875em;

    .chunk {
        margin-top: 1em;

        a:link,
        a:visited {
            color: @pacific;
            text-decoration: none;
            border: none;
        }

        a:hover,
        a:active {
            border-bottom: 1px solid;
        }

        &.hidden {
            margin-top: 0;
        }
    }

    .effective,
    .notice {
        .avenir-next;
    }

    h5 {
        font-size: 0.857142857em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: @dark_gray;
        .avenir-next-demi;

        &.expandable {
            margin: 1.5em 0;
            cursor: pointer;
            padding-right: 20px;
            background: url(../img/open_close.png) no-repeat 99% 3px;
        }

        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
            &.expandable {
                background: url(../img/open_close@2x.png) no-repeat 99% 3px;
                background-size: 13px;
            }
        }

        &.open {
            background: url(../img/open_close.png) no-repeat 99% -14px;
        }

        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
            &.open {
                background: url(../img/open_close@2x.png) no-repeat 99% -14px;
                background-size: 13px;
            }
        }
    }

    h6 {
        font-size: 1em;
        margin: 16px 0 0 0;
    }

    h6:first-child {
        margin-top: 0px;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
    }
}

.open-definition, .regs-meta {
    position: fixed;
    padding: 0 0 3.5em 0;
    width: 271px;
    line-height: 1.5714;
    top: 100px;
    bottom: 0;
    overflow-y: auto;
}

.regs-meta {
    padding-top: 1em;
    
}


.continue-link:last-child {
    margin-bottom: 100px;
}

.open-definition > * > .active-term { /* style every definition that is a child of .open-definition */
    .avenir-next-demi;
}

.open-definition ol {
    .avenir-next-demi;
}

.open-definition p {
    font-family: @body-font;
    font-weight: normal;
}

.continue-link {
    .avenir-next-demi;
}

a.continue-link:link, 
a.continue-link:visited {
    display: inline-block;
    margin-right: 20px;
}
