{% extends "regulations/landing_internal_disclaimer.html" %}

{% block known_issues %}
<h4>Known Issues</h4>
<ul>
    <li>The original section 101 did not contain paragraph markers (a) through
    (k), instead using terms as markers. (a)-(k) have been added to help the
    parser.</li>
    <li>The original paragraph 104(a) did not contain paragraph markers (1)
    through (2), instead using terms as markers. (1)-(2) have been added to
    help the parser.</li>
    <li>The original paragraph 105(a) did not contain paragraph markers (1)
    through (5), instead using terms as markers. (1)-(5) have been added to
    help the parser.</li>
    <li>The original paragraph 106(a) did not contain paragraph markers (1)
    through (4), instead using terms as markers. (1)-(4) have been added to
    help the parser.</li>
</ul>
{% endblock %}
