
{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">The Arbitration Agreements Rule prohibits providers of covered consumer financial products or services from using pre-dispute arbitration agreements to block class actions and requires them to submit certain arbitration-related documents to the Bureau.</h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
        <h3 class="list-header">Covered consumer financial products or services include:  </h3>
        <ul class="tag-list">
          	<li>Extending consumer credit</li>
			<li>Acquiring or selling consumer credit</li>
			<li>Servicing an extension of consumer credit</li>
			<li>Participating in consumer credit decisions</li>
			<li>Referring or selecting consumer creditors</li>
			<li>Extending or brokering automobile leases</li>
			<li>Providing debt management services</li>
			<li>Providing debt settlement services</li>
			<li>Providing credit repair services</li>
			<li>Providing deposit or checking accounts</li>
			<li>Providing remittance accounts and transfers</li>
			<li>Providing payroll card accounts</li>
			<li>Providing government benefit accounts</li>
			<li>Providing consumer credit report information</li>
			<li>Transmitting or exchanging funds</li>
			<li>Providing certain payment processing services</li>
			<li>Providing check cashing, collection, or guaranty services</li>
			<li>Collecting consumer debt</li>
        </ul>
</div>

<div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
         	<li>Pre-dispute arbitration agreements</li>
			<li>Class actions</li>
			<li>Arbitration-related filings</li>
        </ul>
</div>
</div>
{% endblock %}



{% block additional_resources %}
{% endblock %}
