{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">Regulation L includes special rules of practice relating to filing assistance and adjudicatory proceedings under the Interstate Land Sales Full Disclosure Act.   </h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
        <h3 class="list-header">Persons subject to the regulation include: </h3>
        <ul class="tag-list">
          <li>Prefiling assistance</li>
          <li>Processing of filings</li>
          <li>Suspension notices and orders</li>
          <li>Notices of proceedings</li>
          <li>Hearings</li>
        </ul>
</div>

<div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
          <li>Filing assistance</li>
          <li>Adjudicatory proceedings</li>
        </ul>
</div>
</div>
{% endblock %}

{% block additional_resources %}

    <h4>Other resources</h4>

    <ul>
      <li><a href="http://files.consumerfinance.gov/f/201508_cfpb_bulletin-on-interstate-land-sales-full-disclosure-act-amendment.pdf" class="external" target="_blank" rel="noopener noreferrer">2015 Bulletin on Interstate Land Sales Full Disclosure Act amendment</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201107_CFPB_Guidance_ILS-Communications-With-CFPB-Update-July-202012.pdfhttp:/files.consumerfinance.gov/f/201107_CFPB_Guidance_ILS-Communications-With-CFPB-Update-July-202012.pdf" class="external" target="_blank" rel="noopener noreferrer">2011 Bulletin on communications with CFPB</a></li>
      <li><a href="http://www.consumerfinance.gov/newsroom/cfpb-takes-action-against-property-developers-for-marketing-violations/" class="external" target="_blank" rel="noopener noreferrer">Press release on a May 2015 Enforcement action</a></li>
      <li><a href="http://www.consumerfinance.gov/administrativeadjudication/2013-cfpb-0002/" class="external" target="_blank" rel="noopener noreferrer">3D Resorts Bluegrass</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201505_cfpb_consent-order-international-land-consultants.pdf" class="external" target="_blank" rel="noopener noreferrer">Interstate Land Consultants</a></li>
      <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/housing/rmra/ils/ilsexemp" class="external" target="_blank" rel="noopener noreferrer">Guidelines for Exemptions Available Under the Interstate Land Sales Full Disclosure Act</a></li>
    </ul>
{% endblock %}
