{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">Regulation X protects consumers when they apply for and have mortgage loans.</h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
    <h3 class="list-header">The mortgage loan process includes: </h3>
    <ul class="tag-list">
        <li>Applications for mortgage loans</li>
        <li>Origination of mortgage loans</li>
        <li>Title insurance</li>
        <li>Conducting the settlement (or closing)</li>
        <li>Escrow accounts</li>
        <li>Mortgage loan servicing</li>
    </ul>
</div>

<div class="reg-tags">
    <h3 class="list-header">The regulation covers topics such as: </h3>
    <ul class="tag-list">
        <li>Prohibition on kickbacks and unearned fees</li>
        <li>Mortgage origination and servicing disclosures</li>
        <li>Affiliated business arrangements</li>
        <li>Title insurance</li>
        <li>Escrow accounts</li>
        <li>List of homeownership counseling organizations</li>
        <li>Mortgage loan servicing requirements</li>
        <li>Force-placed insurance</li>
        <li>Mortgage loan servicing error resolution and borrower information requests</li>
        <li>Loss mitigation </li>
    </ul>
</div>
</div>
{% endblock %}



{% block additional_resources %}
  <h4>Ask CFPB </h4>
  <ul>
      <li><a href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:mortgages" class="external" target="_blank" rel="noopener noreferrer">Mortgages</a>
  </ul>

  <h4>Other resources</h4>
  <ul>
      <li><a href="http://files.consumerfinance.gov/f/201510_cfpb_compliance-bulletin-2015-05-respa-compliance-and-marketing-services-agreements1.pdf" class="external" target="_blank" rel="noopener noreferrer">CFPB bulletin 2015-05</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201411_cfpb_small-entity-compliance-guide_tila-respa.pdf" class="external" target="_blank" rel="noopener noreferrer">Small entity compliance guide</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201407_cfpb_servicing-applicability-comparison-chart-reg-x-and-z.pdf" class="external" target="_blank" rel="noopener noreferrer">Mortgage servicing rules coverage chart</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201310_cfpb_mortgage-servicing_bulletin.pdf" class="external" target="_blank" rel="noopener noreferrer">CFPB bulletin 2013-12</a></li>
      <li><a href="http://www.consumerfinance.gov/regulations/2013-real-estate-settlement-procedures-act-regulation-x-and-truth-in-lending-act-regulation-z-mortgage-servicing-final-rules/" class="external" target="_blank" rel="noopener noreferrer">RESPA and TILA mortgage servicing final rules</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201503_cfpb_your-home-loan-toolkit-web.pdf" class="external" target="_blank" rel="noopener noreferrer">Your home loan toolkit</a></li>
      <li><a href="http://www.consumerfinance.gov/regulatory-implementation/" class="external" target="_blank" rel="noopener noreferrer">Information about the 2013 mortgage rule implementation</a></li>
  </ul>
{% endblock %}
