{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">Regulation DD helps consumers comparison-shop for deposit accounts.</h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
        <h3 class="list-header">Deposit accounts include:  </h3>
        <ul class="tag-list">
          <li>Savings accounts</li>
          <li>Checking (demand deposit) accounts</li>
          <li>Money market accounts</li>
          <li>Certificates of deposit (CDs)</li>
          <li>Variable-rate accounts</li>
          <li>Accounts denominated in a foreign currency</li>
        </ul>
</div>

<div class="reg-tags">
        <h3 class="list-header">The regulation requires institutions to disclose information about: </h3>
        <ul class="tag-list">
          <li>Annual percentage yield (APY)</li>
          <li>Interest rates</li>
          <li>Minimum-balance requirements</li>
          <li>Account-opening disclosures</li>
          <li>Fee schedules</li>
        </ul>
</div>
</div>
{% endblock %}



{% block additional_resources %}
    <h4>Ask CFPB </h4>
    <ul>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:bank-accounts-and-services" class="external" target="_blank" rel="noopener noreferrer">Bank accounts and services</a></li>
    </ul>
{% endblock %}
