{% extends "regulations/landing_internal_disclaimer.html" %}

{% block known_issues %}
<h4>Known Issues</h4>
<ul>
    <li>Added a fictitious "Subpart INTRO" to account for the first few
    sections, which are not part of Subpart A. This is a display issue (not a
    data issue), but would take a bit more work to fix properly.</li>
    <li>Paragraph 5(b)(4)(iv) was marked with (iii). This has been
    fixed</li>
    <li>Appendix has been named Appendix A</li>
    <li>Appendix A, section C.2.d.4, 5, and g.2 have been modified slightly,
    replacing certain closing parentheses with closing square brackets. This
    type of citation caused the parser an issue.</li>
</ul>
{% endblock %}

