{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">Regulation Z protects people when they use consumer credit.</h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
        <h3 class="list-header">Consumer credit includes: </h3>
        <ul class="tag-list">
            <li>Mortgage loans</li>
            <li>Home equity lines of credit</li>
            <li>Reverse mortgages</li>
            <li>Open-end credit</li>
            <li>Certain student loans</li>
            <li>Installment loans</li>
        </ul>
</div>

<div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
            <li>Annual percentage rates</li>
            <li>Credit card disclosures</li>
            <li>Periodic statements</li>
            <li>Mortgage loan disclosures</li>
            <li>Mortgage loan servicing requirements</li>
            <li>Mortgage loan appraisal requirements</li>
        </ul>
</div>
</div>
{% endblock %}



{% block additional_resources %}
    <h4>Ask CFPB </h4>
    <ul>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search?selected_facets=category_exact:mortgages" class="external" target="_blank" rel="noopener noreferrer">Mortgages</a></li>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search?selected_facets=category_exact:credit-cards" class="external" target="_blank" rel="noopener noreferrer">Credit cards</a></li>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search?selected_facets=category_exact:auto-loans" class="external" target="_blank" rel="noopener noreferrer">Auto loans</a></li>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search?selected_facets=category_exact:student-loans" class="external" target="_blank" rel="noopener noreferrer">Student loans</a></li>
    </ul>

    <h4>Other resources</h4>

    <ul>
        <li><a href="http://www.consumerfinance.gov/regulations/integrated-mortgage-disclosures-under-the-real-estate-settlement-procedures-act-regulation-x-and-the-truth-in-lending-act-regulation-z/" class="external" target="_blank" rel="noopener noreferrer">Additional information about Integrated Mortgage Disclosures under the Real Estate Settlement Procedures Act (Regulation X) and the Truth In Lending Act (Regulation Z)</a></li>
        <li><a href="http://www.consumerfinance.gov/regulatory-implementation/" class="external" target="_blank" rel="noopener noreferrer">Information about the 2013 mortgage rule implementation</a></li>
        <li><a href="http://www.consumerfinance.gov/newsroom/cfpb-finalizes-minor-changes-to-know-before-you-owe-mortgage-rules/" class="external" target="_blank" rel="noopener noreferrer">CFPB Finalizes Minor Changes to “Know Before You Owe” Mortgage Rules Press Release</a></li>
        <li><a href="http://www.consumerfinance.gov/blog/the-know-before-you-owe-mortgage-rule-will-take-effect-october-3-2015/" class="external" target="_blank" rel="noopener noreferrer">The Know Before You Owe mortgage rule will take effect October 3, 2015 Blog Post</a></li>
    </ul>
{% endblock %}
