{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">Regulation M protects people when they use consumer leases.</h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
        <h3 class="list-header">Consumer leases may  include:</h3>
        <ul class="tag-list">
          <li>Automobile leases, Furniture leases, &amp; Other personal property leases</li>
          <li>Closed-end (“walk-away”) leases</li>
          <li>Open-end leases</li>
        </ul>
</div>

<div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
          <li>Disclosure of lease schedule and payments</li>
          <li>Early termination notices</li>
          <li>Purchase option disclosures</li>
          <li>Lease renegotiations, extensions, and assumptions</li>
          <li>Advertisements</li>
        </ul>
</div>
</div>
{% endblock %}



{% block additional_resources %}
    <h4>Ask CFPB </h4>
    <ul>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search/?selected_facets=category_exact:auto-loans" class="external" target="_blank" rel="noopener noreferrer">Auto loans</a></li>
    </ul>
{% endblock %}
