{% extends "regulations/landing_base.html" %}


{% block reg_title %}
<h2 class="banner-text">Regulation B protects applicants from discrimination in any aspect of a credit transaction.</h2>
{% endblock %}

{% block reg_main_content %}
<div class="group">
<div class="reg-tags">
        <h3 class="list-header">Credit transactions and aspects of credit transactions include:  </h3>
        <ul class="tag-list">
          <li>Consumer credit</li>
          <li>Business credit</li>
          <li>Mortgage loans</li>
          <li>Refinancing</li>
          <li>Open-end credit</li>
          <li>Credit applications</li>
          <li>Standards of creditworthiness</li>
          <li>Adverse action</li>
        </ul>
</div>

<div class="reg-tags">
        <h3 class="list-header">The regulation covers topics such as: </h3>
        <ul class="tag-list">
            <li>Discrimination</li>
            <li>Discouragement</li>
            <li>Notification of action taken</li>
            <li>Requests for information</li>
            <li>Evaluation of applications</li>
            <li>Signature requirements</li>
            <li>Monitoring information</li>
            <li>Appraisal and other written valuations</li>
        </ul>
</div>
</div>
{% endblock %}



{% block additional_resources %}
    <h4>Ask CFPB </h4>
    <ul>
        <li><a href="http://www.consumerfinance.gov/askcfpb/search/?q=discrimination&selected_facets=tag_exact%3Acredit+discrimination" class="external" target="_blank" rel="noopener noreferrer">Credit discrimination</a></li>
    </ul>

    <h4>Other resources</h4>

    <ul>
      <li><a href="http://www.consumerfinance.gov/regulations/disclosure-and-delivery-requirements-for-copies-of-appraisals-and-other-written-valuations-under-the-equal-credit-opportunity-act-regulation-b/" class="external" target="_blank" rel="noopener noreferrer">Information about the appraisals and valuations rule</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201411_cfpb_bulletin_disability-income.pdf" class="external" target="_blank" rel="noopener noreferrer">Bulletin on social security disability income verification</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201303_cfpb_march_-Auto-Finance-Bulletin.pdf" class="external" target="_blank" rel="noopener noreferrer">Bulletin about indirect auto lending and compliance with the Equal Credit Opportunity Act</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201505_cfpb_bulletin-section-8-housing-choice-voucher-homeownership-program.pdf" class="external" target="_blank" rel="noopener noreferrer">Bulletin about Section 8 Housing Choice Voucher homeownership program</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201404_cfpb_bulletin_lending_discrimination.pdf" class="external" target="_blank" rel="noopener noreferrer">Bulletin regarding lending discrimination</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201307_cfpb_ecoa_baseline-review-module-fair-lending.pdf" class="external" target="_blank" rel="noopener noreferrer">ECOA baseline review modules</a></li>
      <li><a href="http://files.consumerfinance.gov/f/201306_cfpb_laws-and-regulations_ecoa-combined-june-2013.pdf" class="external" target="_blank" rel="noopener noreferrer">ECOA examination procedures</a></li>
    </ul>
{% endblock %}
