{% extends "regulations/landing_internal_disclaimer.html" %}

{% block known_issues %}
<h4>Known Issues</h4>
<ul>
    <li>The original section 23 did not contain paragraph markers (a) through
    (t), instead using terms as markers. (a)-(t) have been added to help the
    parser.</li>
    <li>Added a fictitious "Subpart INTRO" to account for the first few
    sections, which are not part of Subpart A. This is a display issue (not a
    data issue), but would take a bit more work to fix properly.</li>
</ul>
{% endblock %}
