 /**
* layout.less contains all layout rules
*
*/

/* ==========================================================================
 layout
 ========================================================================== */

.wrap {
    position: relative;
    max-width: 60em; /* 960 / 16 = 60*/
    margin: 0 auto;
}

.main,
.main-content {
    width: 63.542%; /*643px;*/
    float: left;
    padding-right: 2em;
}

.main-content {
    border-right: 1px solid @medium_gray;
    padding-top: 100px;

    h1:first-child {
        margin-top: 1em;
    }
}

.secondary,
.secondary-content {
    width: 33%; /*318px;*/
}

.secondary,
.secondary-content {
    float: right;
    position: relative;
}


.reg-text > section {
    border-bottom: 2px solid @medium_gray;
    /*padding: 3.75em 0 2.75em 0;*/
}

.reg-section:before,
.appendix-heading:before {
    display: block; 
    content: ""; 
    height: 100px; 
    margin: -100px 0 0; 
    visibility: hidden;
}


.reg-section li {
    border-top: 100px solid transparent;
    margin-top: -100px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}
