/**
* main.less imports all supporting less files
*
*/

@import url(mixins.less);
@import url(typography.less);
@import url(layout.less);
@import url(module/navigation.less);
@import url(print.less);


/* ==========================================================================
 helper classes
 ========================================================================== */

.inline{
  display: inline;
  margin: 0;
}

/* .group class as clearfix */

.group:before,
.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.group:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.group {
  *zoom: 1;
}

