/**
* typography.less contains both global and application specific typography
*
*/

/* ==========================================================================
 global typography
 ========================================================================== */

body {
    color: @black;
    font-family: @body-font;
    font-size: 1em;
    line-height: 1.625; /* 26px */
}

/* headings */

h1,
h2,
h3{
    .avenir-next-bold;
}

h4,
h5,
h6 {
    .avenir-next-demi;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 1.625em;
}

h3 {
    font-size: 1.375em;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

h5 {
    font-size: 0.875em;
    text-transform: uppercase;
}

h6 {
    font-size: 0.875em;
    margin: 1em 0 0 0;
}

/* sub headings */
.sub-text {
    .avenir-next;
}

/* lists */

ul li {
  list-style: none;
}

li {
    margin-top: 1em; /*16px*/
}

/* ==========================================================================
 link styles
 ========================================================================== */

/* default */

a:link,
a:visited {
    color: @black;
    text-decoration: none;
    border-bottom: 1px solid #348dc9;
}

a.active {
    background-color: @grey;
    border-bottom: 1px solid @dark_gray;
}

/* internal links */

a.internal:link,
a.internal:visited {
    color: @black;
    text-decoration: none;
    border-bottom: 1px solid #348dc9;
}

a.internal:hover,
a.internal:active {
    background-color: #cde3f1;
}

/* external links */

.external {
    background: url(../img/external-link.png) center right no-repeat;
    padding-right: 19px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .external {
        background: url(../img/external-link@2x.png) center right no-repeat;
        background-size: 19px 16px;
    }
}

.external:link,
.external:visited {
    color: @pacific;
    text-decoration: none;
    border: none;
}

.external:hover,
.external:active {
    border-bottom: 1px solid;
}

/* citation links */

a.definition:link,
a.definition:visited {
    color: @black;
    text-decoration: none;
    border-bottom: 1px solid #d0d0ce;
}

a.definition:hover,
a.definition:active {
    border-bottom: 1px solid #babbbd;
    background-color: #e7e7e6;
}

/* ==========================================================================
 regulation styles
 ========================================================================== */

/* headings */
.site-title {
    .avenir-next-demi;
    margin: .3em 0;
}

.reg-title,
.appendix-title {
    .avenir-next;
    font-size: 2.25em; /* 36px / 16px */
    line-height: 1.194;
    text-transform: uppercase;
}

.reg-title {
    margin-top: 0px;
}

.appendix-title {
    padding-top: 32px;
}

.section-number,
.appendix-heading,
.supplement-section h3 {
    padding-top: 32px;
    font-size: 29px;
    .avenir-next-bold;
    line-height: 1.25;
    letter-spacing: 1px;
}

.appendix-subheading, .interp-subheading {
    font-size: 1.375em; /* 22/16=1.375 */
    line-height: 1.25;
    padding: 0;
    margin: 0;
    text-transform: none;
}

/* list styles */

.level-1 > li {
    border-bottom: 1px solid @light_field;
    padding: 1em 0 1em 0;
}

.supplement-section .level-1 > li {
    border-bottom: none;
    padding: 0px;
}

.level-1 > li:last-child {
    border-bottom: 0px;
}

.level-1 > li:first-child {
    padding-top: 0;
}

.level-2 li {
    margin-top: 1.25em;
}

/* set markers & key-terms to Avenir Next Demi */
.reg-text ol, dfn {
  .avenir-next-demi;
}

/* Set text regulation text to Georgia */
.reg-text li p {
  font-family: @body-font;
  font-weight: 400;
}

/* hide markers from original text */
.paragraph-marker {
    display: none;
}

/* dfn styles */

.level-1 .key-term {
    font-size: 1.375em; /* 24px / 16px = 1.5em */
    line-height: 1.5; /* 30px / 24px = 1.25 */
}

.supplement-section .level-1 .key-term {
    font-size: 1em;
    text-transform: uppercase;
}

.level-2 .key-term {
    text-transform: uppercase;
    font-size: 1em;
    .avenir-next-bold;
}

.level-3 .key-term {
    .avenir-next-demi;
    text-transform: none;
}

.key-term {
    display: block;
}

/* ==========================================================================
  appendix stlyes
 ========================================================================== */

.model-form-content {
    background: #f6f6f5;
    border: 1px solid #e3e4e5;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 0.875em; /* 14/16 = .875 */
    line-height: 1.4;
}

.supplement-section section {
    padding-bottom: 2em;
}
