{% comment %}
    Used to turn markdown tables into HTML tables
{% endcomment %}
<div class="table-wrap">
    <table>
        <thead>
        {% for row in header %}
            <tr>
            {% for th in row %}
                <th rowspan="{{ th.rowspan }}" colspan="{{ th.colspan }}" >{{ th.text }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for td in row %}<td>{{ td }}</td>{% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
